Repository ynput/ayon-core, pull requests merged in 2024-06, with the labels that each got.

#587 Chore: Change log level for missing settings on publish plugin
  client/ayon_core/pipeline/publish/lib.py
Labels: size/XS, type: enhancement

#466 Maya: Preserve time units on load and update with `MayaUSDReferenceLoader`
  server_addon/maya/client/ayon_maya/plugins/load/load_reference.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS, type: enhancement

#559 Loader tools: Fix sorting of versions in comboboxes
  client/ayon_core/tools/loader/abstract.py
  client/ayon_core/tools/loader/ui/products_model.py
Labels: size/XS, type: bug

#437 Maya: Workfile Templates implement Assign Look placeholder
  server_addon/maya/client/ayon_maya/plugins/workfile_build/assign_look_placeholder.py
Labels: host: Maya, type: enhancement, size/XXL

#595 Hiero: loader is offering even on unsaved project file
  server_addon/hiero/client/ayon_hiero/api/pipeline.py
Labels: host: Hiero, size/XS, type: bug

#545 Maya: Workfile Increment in one go
  client/ayon_core/pipeline/context_tools.py
  server/settings/tools.py
  server_addon/maya/client/ayon_maya/api/menu.py
Labels: host: Maya, size/XS, type: enhancement

#597 Tweak settings title for `Validate Outdated Containers`
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#600 Chore: Create server addon package enhancements
  server_addon/create_ayon_addons.py
  server_addon/houdini/client/ayon_houdini/version.py
Labels: host: Houdini, type: enhancement, size/S

#598 Loader tool: Safe containers discovery
  client/ayon_core/tools/loader/control.py
Labels: size/XS, type: enhancement

#588 Expand folders when searching in the folder widgets (Loader + Launcher).
  client/ayon_core/tools/loader/ui/folders_widget.py
  client/ayon_core/tools/utils/folders_widget.py
Labels: size/XS, type: enhancement

#599 Chore: Move RoyalRender client code
  client/ayon_core/addon/base.py
  client/ayon_core/modules/royalrender/version.py
  server_addon/royalrender/client/ayon_royalrender/__init__.py
  server_addon/royalrender/client/ayon_royalrender/addon.py
  server_addon/royalrender/client/ayon_royalrender/api.py
  server_addon/royalrender/client/ayon_royalrender/lib.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/collect_rr_path_from_instance.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/collect_sequences_from_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_maya_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_nuke_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_publish_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/submit_jobs_to_royalrender.py
  server_addon/royalrender/client/ayon_royalrender/rr_job.py
  server_addon/royalrender/client/ayon_royalrender/rr_root/README.md
  server_addon/royalrender/client/ayon_royalrender/rr_root/plugins/control_job/perjob/m50__openpype_publish_render.py
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype.png
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype__PublishJob.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype___global.inc
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_install_paths/OpenPype.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_prepost_scripts/OpenPypeEnvironment.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_prepost_scripts/PreOpenPypeInjectEnvironments.py
  server_addon/royalrender/client/ayon_royalrender/version.py
  server_addon/royalrender/package.py
Labels: host: Nuke, host: Maya, size/XS, type: enhancement, module: RoyalRender

#572 RoyalRender: enabled toggle is ignored in royal render
  server_addon/royalrender/client/ayon_royalrender/addon.py
Labels: size/XS, type: bug, module: RoyalRender

#604 Chore: Move deadline client code
  client/ayon_core/addon/base.py
  client/ayon_core/modules/deadline/version.py
  pyproject.toml
  server_addon/deadline/client/ayon_deadline/__init__.py
  server_addon/deadline/client/ayon_deadline/abstract_submit_deadline.py
  server_addon/deadline/client/ayon_deadline/addon.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/collect_deadline_server_from_instance.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/collect_default_deadline_server.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/collect_pools.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/collect_user_credentials.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/help/validate_deadline_connection.xml
  server_addon/deadline/client/ayon_deadline/plugins/publish/help/validate_deadline_pools.xml
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_aftereffects_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_blender_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_celaction_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_fusion_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_harmony_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_houdini_cache_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_houdini_render_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_max_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_maya_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_nuke_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_publish_cache_job.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_publish_job.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/validate_deadline_connection.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/validate_deadline_pools.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/validate_expected_and_rendered_files.py
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/Ayon/Ayon.ico
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/Ayon/Ayon.options
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/Ayon/Ayon.param
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/Ayon/Ayon.py
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/CelAction/CelAction.ico
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/CelAction/CelAction.param
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/CelAction/CelAction.py
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/GlobalJobPreLoad.py
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/HarmonyAYON/HarmonyAYON.ico
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/HarmonyAYON/HarmonyAYON.options
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/HarmonyAYON/HarmonyAYON.param
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/HarmonyAYON/HarmonyAYON.py
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.ico
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.options
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.param
  server_addon/deadline/client/ayon_deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.py
  server_addon/deadline/client/ayon_deadline/repository/readme.md
  server_addon/deadline/client/ayon_deadline/version.py
  server_addon/deadline/package.py
  server_addon/deadline/server/settings/site_settings.py
Labels: host: Nuke, host: Maya, host: Houdini, host: Harmony, host: Fusion, host: CelAction, host: Blender, host: After Effects, host: 3dsmax, size/XS, module: Deadline, type: feature

#610 Chore: Move TimersManager addon
  client/ayon_core/addon/base.py
  client/ayon_core/modules/timers_manager/version.py
  client/pyproject.toml
  server_addon/timers_manager/client/ayon_timers_manager/__init__.py
  server_addon/timers_manager/client/ayon_timers_manager/exceptions.py
  server_addon/timers_manager/client/ayon_timers_manager/idle_threads.py
  server_addon/timers_manager/client/ayon_timers_manager/launch_hooks/post_start_timer.py
  server_addon/timers_manager/client/ayon_timers_manager/plugins/publish/start_timer.py
  server_addon/timers_manager/client/ayon_timers_manager/plugins/publish/stop_timer.py
  server_addon/timers_manager/client/ayon_timers_manager/rest_api.py
  server_addon/timers_manager/client/ayon_timers_manager/timers_manager.py
  server_addon/timers_manager/client/ayon_timers_manager/version.py
  server_addon/timers_manager/client/ayon_timers_manager/widget_user_idle.py
  server_addon/timers_manager/client/pyproject.toml
  server_addon/timers_manager/package.py
Labels: size/XS, type: enhancement

#612 Chore: Fix creation of applications and maya packages
  server_addon/applications/package.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS, type: bug

#606 Chore: Cleanups after addons movement
  client/ayon_core/addon/README.md
  client/ayon_core/addon/base.py
  client/pyproject.toml
  server_addon/applications/client/ayon_applications/__init__.py
  server_addon/applications/client/ayon_applications/addon.py
  server_addon/applications/client/ayon_applications/version.py
  server_addon/applications/package.py
  server_addon/clockify/client/ayon_clockify/addon.py
  server_addon/clockify/client/ayon_clockify/version.py
  server_addon/clockify/package.py
  server_addon/houdini/client/ayon_houdini/__init__.py
  server_addon/houdini/client/ayon_houdini/addon.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
  server_addon/max/client/ayon_max/__init__.py
  server_addon/max/client/ayon_max/addon.py
  server_addon/max/client/ayon_max/version.py
  server_addon/max/package.py
  server_addon/maya/client/ayon_maya/__init__.py
  server_addon/maya/client/ayon_maya/addon.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
  server_addon/nuke/client/ayon_nuke/__init__.py
  server_addon/nuke/client/ayon_nuke/addon.py
  server_addon/nuke/client/ayon_nuke/version.py
  server_addon/nuke/package.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/collect_batch_data.py
  server_addon/photoshop/client/ayon_photoshop/version.py
  server_addon/photoshop/package.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/collect_sequences_from_job.py
  server_addon/royalrender/client/ayon_royalrender/version.py
  server_addon/royalrender/package.py
  server_addon/substancepainter/client/ayon_substancepainter/__init__.py
  server_addon/substancepainter/client/ayon_substancepainter/addon.py
  server_addon/substancepainter/client/ayon_substancepainter/version.py
  server_addon/substancepainter/package.py
  server_addon/traypublisher/client/ayon_traypublisher/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/addon.py
  server_addon/traypublisher/client/ayon_traypublisher/version.py
  server_addon/traypublisher/package.py
Labels: host: TrayPublisher, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: 3dsmax, type: enhancement, size/S, module: RoyalRender, host: Substance Painter

#492 Hiero: enhancing effect publishing categorization - AY-5146
  server_addon/hiero/client/ayon_hiero/plugins/publish/collect_clip_effects.py
  server_addon/hiero/client/ayon_hiero/plugins/publish/precollect_instances.py
  server_addon/hiero/client/ayon_hiero/version.py
  server_addon/hiero/package.py
  server_addon/hiero/server/settings/publish_plugins.py
Labels: host: Nuke, host: Hiero, size/XS, type: enhancement

#603 After Effects: Bug fix of switching mov to image sequences not showing sequence
  server_addon/aftereffects/client/ayon_aftereffects/plugins/load/load_file.py
Labels: host: After Effects, size/XS, type: bug

#609 After Effect: multiselection for file loading into the folder
  server_addon/aftereffects/client/ayon_aftereffects/plugins/load/load_file.py
  server_addon/aftereffects/package.py
Labels: host: After Effects, size/XS, type: bug

#560 Publisher: filter creators based on task
  client/ayon_core/pipeline/create/context.py
  client/ayon_core/tools/publisher/control.py
  server/settings/tools.py
Labels: size/XS, type: enhancement

#616 Chore: Fix client versions
  server_addon/aftereffects/client/ayon_aftereffects/version.py
  server_addon/applications/client/ayon_applications/version.py
  server_addon/maya/client/ayon_maya/version.py
Labels: host: Maya, host: After Effects, size/XS, type: bug

#617 Chore: Removed ftrack resources
  client/ayon_core/resources/ftrack/action_icons/ActionAskWhereIRun.svg
  client/ayon_core/resources/ftrack/action_icons/AssetsRemover.svg
  client/ayon_core/resources/ftrack/action_icons/BatchTasks.svg
  client/ayon_core/resources/ftrack/action_icons/ComponentOpen.svg
  client/ayon_core/resources/ftrack/action_icons/CreateFolders.svg
  client/ayon_core/resources/ftrack/action_icons/CreateProjectFolders.svg
  client/ayon_core/resources/ftrack/action_icons/DeleteAsset.svg
  client/ayon_core/resources/ftrack/action_icons/Delivery.svg
  client/ayon_core/resources/ftrack/action_icons/MultipleNotes.svg
  client/ayon_core/resources/ftrack/action_icons/OpenPypeAdmin.svg
  client/ayon_core/resources/ftrack/action_icons/PrepareProject.svg
  client/ayon_core/resources/ftrack/action_icons/RV.png
  client/ayon_core/resources/ftrack/action_icons/SeedProject.svg
  client/ayon_core/resources/ftrack/action_icons/SortReview.svg
  client/ayon_core/resources/ftrack/action_icons/TestAction.svg
  client/ayon_core/resources/ftrack/action_icons/Thumbnail.svg
  client/ayon_core/resources/ftrack/sign_in_message.html
Labels: type: enhancement, size/M, module: Ftrack

#619 Report exception info when CLI command failed to be added.
  client/ayon_core/cli_commands.py
Labels: size/XS, type: enhancement

#602 Substance Painter: add review attributes in texture creator
  server_addon/substancepainter/client/ayon_substancepainter/plugins/create/create_textures.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/collect_textureset_images.py
Labels: size/XS, type: enhancement, host: Substance Painter

#628 Attribute Definitions HiddenDef: fix `super` call
  client/ayon_core/lib/attribute_definitions.py
Labels: size/XS, type: bug

#627 Fix typo `_on_refreh_clicked` -> `_on_refresh_clicked`
  client/ayon_core/tools/launcher/ui/hierarchy_page.py
Labels: size/XS

#626 Extract Color Transcode: Fix log message formatting
  client/ayon_core/plugins/publish/extract_color_transcode.py
Labels: size/XS, type: bug

#620 Chore: Transcode color spaces plugin does not remove all representations
  client/ayon_core/plugins/publish/extract_color_transcode.py
Labels: size/XS, type: bug

#590 Substance Painter: Add support for sync workfile version
  client/ayon_core/plugins/publish/collect_anatomy_instance_data.py
  client/ayon_core/plugins/publish/collect_scene_version.py
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#629 Extract Color Transcode: Fix duplicated function `_rename_in_representation`
  client/ayon_core/plugins/publish/extract_color_transcode.py
Labels: size/XS

#623 Deadline: Move auth and verify to submit only
  server_addon/deadline/client/ayon_deadline/abstract_submit_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_blender_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_max_deadline.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_maya_deadline.py
Labels: host: Maya, host: Blender, host: 3dsmax, size/XS, type: bug, module: Deadline

#635 Resolve: mediapool loader and inventory clearing plugins
  server_addon/resolve/client/ayon_resolve/plugins/inventory/remove_unused_media_pool_items.py
  server_addon/resolve/client/ayon_resolve/plugins/load/load_media.py
Labels: host: Resolve, type: enhancement, size/M

#632 Chore: Add missing websocket-client dependency
  client/pyproject.toml
Labels: size/XS, type: bug

#637 Collect Farm Target: Only report errors for not found addons if no valid farm addon found
  client/ayon_core/plugins/publish/collect_farm_target.py
Labels: size/XS, type: enhancement

#630 Chore: Use origin username when running publish
  client/ayon_core/cli_commands.py
Labels: size/XS, type: enhancement

#615 Pass status when integrating version
  client/ayon_core/plugins/publish/integrate.py
Labels: size/XS, type: bug

#638 Max: fix scene inventory not shown up
  server_addon/max/client/ayon_max/api/pipeline.py
Labels: host: 3dsmax, size/XS, type: bug

#618 Chore: Skip import from hosts folder
  client/ayon_core/addon/base.py
  client/ayon_core/hosts/__init__.py
Labels: type: enhancement, size/S

#641 Maya: Pointcache create plugins fix
  server_addon/maya/client/ayon_maya/plugins/create/create_animation_pointcache.py
  server_addon/maya/client/ayon_maya/plugins/create/create_look.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS, type: bug

#643 Scene Inventory: remove unused container attribute
  client/ayon_core/tools/sceneinventory/models/containers.py
Labels: bug, size/XS, type: bug

#642 Loader tool: Hero version is smaller than standard version
  client/ayon_core/tools/loader/abstract.py
Labels: size/XS, type: enhancement

#140 Resolve: mediapool loader and inventory clearing plugins
  server_addon/resolve/client/ayon_resolve/api/lib.py
  server_addon/resolve/client/ayon_resolve/api/pipeline.py
  server_addon/resolve/client/ayon_resolve/plugins/inventory/remove_unused_media_pool_items.py
  server_addon/resolve/client/ayon_resolve/plugins/load/load_media.py
  server_addon/resolve/client/ayon_resolve/version.py
  server_addon/resolve/package.py
  server_addon/resolve/server/settings.py
Labels: host: Resolve, type: enhancement, size/S, sponsored

#631 Max: fix the incorrect fps value when loading point cache
  server_addon/max/client/ayon_max/api/lib.py
  server_addon/max/client/ayon_max/plugins/load/load_pointcache.py
Labels: host: 3dsmax, size/XS, type: bug

#646 Chore: Burnin script shell execution
  client/ayon_core/scripts/otio_burnin.py
Labels: size/XS, type: bug

#543 Use product name templates for render products on local Houdini render
  client/ayon_core/hosts/houdini/plugins/publish/collect_local_render_instances.py
Labels: host: Houdini, size/XS, type: enhancement

#647 Workfiles tool: Context selection is properly propagated to workarea
  client/ayon_core/tools/workfiles/abstract.py
  client/ayon_core/tools/workfiles/control.py
  client/ayon_core/tools/workfiles/models/workfiles.py
  client/ayon_core/tools/workfiles/widgets/files_widget_workarea.py
  client/ayon_core/tools/workfiles/widgets/side_panel.py
Labels: size/XS, type: bug

#640 Workfiles tool: Artists can see users
  client/ayon_core/tools/common_models/users.py
  client/ayon_core/tools/workfiles/control.py
Labels: size/S, type: bug

#458 Nuke: Push to project - AY-742
  client/ayon_core/tools/context_dialog/__init__.py
  client/ayon_core/tools/context_dialog/window.py
  server_addon/nuke/client/ayon_nuke/api/pipeline.py
  server_addon/nuke/client/ayon_nuke/api/push_to_project.py
Labels: host: Nuke, size/S, type: feature

#644 Houdini: Publish different HDA products from different folder paths with the same product name
  server_addon/houdini/client/ayon_houdini/plugins/create/create_hda.py
  server_addon/houdini/client/ayon_houdini/plugins/load/load_hda.py
Labels: host: Houdini, size/XS, type: bug, backlog, sponsored

#613 Nuke: Enhance Viewer process override with colorspace, display-view
  server_addon/nuke/client/ayon_nuke/api/lib.py
  server_addon/nuke/client/ayon_nuke/api/plugin.py
  server_addon/nuke/client/ayon_nuke/plugins/publish/extract_review_intermediates.py
  server_addon/nuke/client/ayon_nuke/version.py
  server_addon/nuke/package.py
  server_addon/nuke/server/__init__.py
  server_addon/nuke/server/settings/__init__.py
  server_addon/nuke/server/settings/common.py
  server_addon/nuke/server/settings/conversion.py
  server_addon/nuke/server/settings/imageio.py
  server_addon/nuke/server/settings/publish_plugins.py
Labels: host: Nuke, type: enhancement, size/S

#633 Tray: Cleanup PYTHONPATH from existing addons on update
  client/ayon_core/tools/tray/tray.py
Labels: size/XS, type: bug

#649 Scene Inventory tool: Set version dialog can change version for whole selection
  client/ayon_core/tools/sceneinventory/select_version_dialog.py
  client/ayon_core/tools/sceneinventory/view.py
Labels: size/XS, type: enhancement

#621 Chore: Applications addon decouple of logic
  client/ayon_core/pipeline/actions.py
  client/ayon_core/resources/app_icons/djvView.png
  client/ayon_core/tools/launcher/models/actions.py
  server_addon/applications/client/ayon_applications/action.py
  server_addon/applications/client/ayon_applications/addon.py
  server_addon/applications/client/ayon_applications/icons/3de4.png
  server_addon/applications/client/ayon_applications/icons/3dsmax.png
  server_addon/applications/client/ayon_applications/icons/aftereffects.png
  server_addon/applications/client/ayon_applications/icons/blender.png
  server_addon/applications/client/ayon_applications/icons/celaction.png
  server_addon/applications/client/ayon_applications/icons/flame.png
  server_addon/applications/client/ayon_applications/icons/fusion.png
  server_addon/applications/client/ayon_applications/icons/harmony.png
  server_addon/applications/client/ayon_applications/icons/hiero.png
  server_addon/applications/client/ayon_applications/icons/houdini.png
  server_addon/applications/client/ayon_applications/icons/maya.png
  server_addon/applications/client/ayon_applications/icons/nuke.png
  server_addon/applications/client/ayon_applications/icons/nukestudio.png
  server_addon/applications/client/ayon_applications/icons/nukex.png
  server_addon/applications/client/ayon_applications/icons/openrv.png
  server_addon/applications/client/ayon_applications/icons/photoshop.png
  server_addon/applications/client/ayon_applications/icons/premiere.png
  server_addon/applications/client/ayon_applications/icons/python.png
  server_addon/applications/client/ayon_applications/icons/resolve.png
  server_addon/applications/client/ayon_applications/icons/shotgrid.png
  server_addon/applications/client/ayon_applications/icons/storyboardpro.png
  server_addon/applications/client/ayon_applications/icons/substancepainter.png
  server_addon/applications/client/ayon_applications/icons/tvpaint.png
  server_addon/applications/client/ayon_applications/icons/ue4.png
  server_addon/applications/client/ayon_applications/icons/wrap.png
  server_addon/applications/client/ayon_applications/icons/zbrush.png
  server_addon/applications/client/ayon_applications/manager.py
  server_addon/applications/client/ayon_applications/utils.py
  server_addon/applications/public/icons/3de4.png
  server_addon/applications/public/icons/3dsmax.png
  server_addon/applications/public/icons/aftereffects.png
  server_addon/applications/public/icons/blender.png
  server_addon/applications/public/icons/celaction.png
  server_addon/applications/public/icons/flame.png
  server_addon/applications/public/icons/fusion.png
  server_addon/applications/public/icons/harmony.png
  server_addon/applications/public/icons/hiero.png
  server_addon/applications/public/icons/houdini.png
  server_addon/applications/public/icons/maya.png
  server_addon/applications/public/icons/nuke.png
  server_addon/applications/public/icons/nukestudio.png
  server_addon/applications/public/icons/nukex.png
  server_addon/applications/public/icons/openrv.png
  server_addon/applications/public/icons/photoshop.png
  server_addon/applications/public/icons/premiere.png
  server_addon/applications/public/icons/python.png
  server_addon/applications/public/icons/resolve.png
  server_addon/applications/public/icons/shotgrid.png
  server_addon/applications/public/icons/storyboardpro.png
  server_addon/applications/public/icons/substancepainter.png
  server_addon/applications/public/icons/tvpaint.png
  server_addon/applications/public/icons/ue4.png
  server_addon/applications/public/icons/wrap.png
  server_addon/applications/public/icons/zbrush.png
  server_addon/create_ayon_addons.py
Labels: host: TV Paint, host: Resolve, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Hiero, host: Harmony, host: Fusion, host: Flame, host: CelAction, host: Blender, host: After Effects, host: 3dsmax, type: enhancement, size/M, host: Substance Painter, module: Shotgrid

#639 Traypublisher: Actually enable Override Colorspace collector when it should be enabled
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_explicit_colorspace.py
  server_addon/traypublisher/client/ayon_traypublisher/version.py
  server_addon/traypublisher/package.py
Labels: bug, community contribution, host: TrayPublisher, size/XS

#655 Workfiles tool: Published files can be copied/opened
  client/ayon_core/tools/workfiles/widgets/files_widget_published.py
Labels: size/XS, type: bug

#653 Maya: Don't crash plugin on missing deadline
  server_addon/maya/client/ayon_maya/plugins/publish/collect_file_dependencies.py
  server_addon/maya/client/ayon_maya/plugins/publish/extract_import_reference.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS, type: enhancement

#656 Maya: Implement backward compatibility for version up workfile
  server_addon/maya/client/ayon_maya/api/menu.py
Labels: host: Maya, size/XS, type: bug

#524 Houdini: Fix Validate Workfile Paths failing on parms with expressions or keyframes
  server_addon/houdini/client/ayon_houdini/plugins/publish/validate_workfile_paths.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
Labels: host: Houdini, size/XS, type: bug

#661 Loader: Fix deprecated import
  client/ayon_core/tools/loader/control.py
Labels: size/XS, type: enhancement

#505 Blender: Deadline asset dependencies
  server_addon/blender/client/ayon_blender/plugins/publish/collect_file_dependencies.py
  server_addon/blender/client/ayon_blender/version.py
  server_addon/blender/package.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_blender_deadline.py
  server_addon/deadline/client/ayon_deadline/version.py
  server_addon/deadline/package.py
  server_addon/deadline/server/settings/publish_plugins.py
Labels: host: Blender, size/XS, type: enhancement, module: Deadline, sponsored

#660 Fix: aftereffects review not displayed in ftrack
  server_addon/aftereffects/client/ayon_aftereffects/plugins/create/create_render.py
  server_addon/aftereffects/client/ayon_aftereffects/plugins/publish/collect_render.py
  server_addon/aftereffects/client/ayon_aftereffects/version.py
  server_addon/aftereffects/package.py
  server_addon/deadline/client/ayon_deadline/plugins/publish/submit_aftereffects_deadline.py
Labels: host: After Effects, size/XS, type: bug, module: Deadline, sponsored

#575 Maya: check for invalid reference compatible with Maya 2022
  server_addon/maya/client/ayon_maya/api/lib.py
Labels: enhancement, host: Maya, size/XS, type: bug

#669 Maya: Fix the scriptmenu error found during launch maya 2025
  client/ayon_core/vendor/python/scriptsmenu/launchformaya.py
Labels: host: Maya, size/XS, type: bug

#676 Chore: Houdini refactor to generic ExtractROP plug-in
  server_addon/houdini/client/ayon_houdini/plugins/publish/collect_frames.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_alembic.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_ass.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_bgeo.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_composite.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_fbx.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_mantra_ifd.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_opengl.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_redshift_proxy.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_rop.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_vdb_cache.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
Labels: host: Houdini, size/M

#682 Houdini: support opening workfile on launch
  server_addon/houdini/client/ayon_houdini/api/pipeline.py
Labels: host: Houdini, size/XS, type: feature, sponsored

#686 Maya: Convert version string to integer
  server_addon/maya/client/ayon_maya/api/lib.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS, type: bug

#681 Houdini: Remove `Mantra IFD` product
  server_addon/houdini/client/ayon_houdini/plugins/create/create_mantra_ifd.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/collect_cache_farm.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/collect_chunk_size.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/collect_frames.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
  server_addon/houdini/server/settings/create.py
Labels: host: Houdini, size/S

#684 Maya: Remove the legacy creator from before new publisher UI
  server_addon/maya/client/ayon_maya/api/__init__.py
  server_addon/maya/client/ayon_maya/api/plugin.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
Labels: host: Maya, size/XS

#688 Cosmetics (fix docstring triple quotes)
  server_addon/aftereffects/client/ayon_aftereffects/api/workfile_template_builder.py
  server_addon/blender/client/ayon_blender/plugins/publish/extract_thumbnail.py
Labels: host: Nuke, host: Hiero, host: Blender, host: After Effects, size/XS

#674 Maya: add option to stripe shader assignment for setdress family
  server_addon/maya/client/ayon_maya/plugins/create/create_setdress.py
  server_addon/maya/client/ayon_maya/plugins/publish/extract_maya_scene_raw.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/creators.py
Labels: host: Maya, size/XS, type: enhancement, sponsored

#456 Houdini: support hda publishing from non object level and other enhancements
  server/settings/tools.py
  server_addon/houdini/client/ayon_houdini/api/pipeline.py
  server_addon/houdini/client/ayon_houdini/api/plugin.py
  server_addon/houdini/client/ayon_houdini/plugins/create/create_hda.py
  server_addon/houdini/client/ayon_houdini/plugins/load/load_hda.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/validate_subset_name.py
Labels: enhancement, host: Houdini, size/XS, type: enhancement, sponsored

#683 Houdini: Remove the legacy creator from before new publisher UI
  server_addon/houdini/client/ayon_houdini/api/__init__.py
  server_addon/houdini/client/ayon_houdini/api/plugin.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
Labels: host: Houdini, size/XS

#690 Scene Inventory: Action to update to latest approved version
  client/ayon_core/tools/common_models/__init__.py
  client/ayon_core/tools/common_models/projects.py
  client/ayon_core/tools/sceneinventory/model.py
  client/ayon_core/tools/sceneinventory/models/containers.py
  client/ayon_core/tools/sceneinventory/view.py
Labels: size/S, type: feature, sponsored

#693 Houdini: Remove unused "remote publish" workflow for Houdini
  server_addon/houdini/client/ayon_houdini/api/lib.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/collect_remote_publish.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/validate_remote_publish.py
  server_addon/houdini/client/ayon_houdini/plugins/publish/validate_remote_publish_enabled.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
Labels: host: Houdini, size/S

#687 Houdini: Fix Active View extraction error when no scene viewer is an active tab
  server_addon/houdini/client/ayon_houdini/api/lib.py
  server_addon/houdini/client/ayon_houdini/version.py
  server_addon/houdini/package.py
Labels: bug, host: Houdini, size/XS, type: enhancement

#699 Maya: Publishing fbx in model family
  server_addon/maya/client/ayon_maya/plugins/publish/collect_fbx_model.py
  server_addon/maya/client/ayon_maya/version.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/publishers.py
Labels: host: Maya, size/XS, type: enhancement, sponsored

#659 Traypublisher: CSV ingest supports relative and absolute paths
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_csv_ingest.py
  server_addon/traypublisher/server/settings/creator_plugins.py
Labels: host: TrayPublisher, type: enhancement, size/L

#704 Traypublisher: CSV ingest supports relative and absolute paths 2
  server_addon/traypublisher/client/ayon_traypublisher/version.py
  server_addon/traypublisher/package.py
Labels: host: TrayPublisher, size/XS, type: enhancement

#712 Settings: Minor cosmetic tweaks
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/houdini/server/settings/publish.py
Labels: host: Houdini, size/XS, module: Deadline

#678 Integrate Hero Version: Disable usage of hardlinks, but allow enabling via settings
  client/ayon_core/plugins/publish/integrate_hero_version.py
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement, sponsored

#711 Houdini: Expose Extract Active View Thumbnail to settings
  server_addon/houdini/client/ayon_houdini/plugins/publish/extract_active_view_thumbnail.py
  server_addon/houdini/server/settings/publish.py
Labels: host: Houdini, size/XS, type: enhancement

#709 Chore: Removed Celaction addon
  server_addon/celaction/client/ayon_celaction/__init__.py
  server_addon/celaction/client/ayon_celaction/addon.py
  server_addon/celaction/client/ayon_celaction/hooks/pre_celaction_setup.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_celaction_cli_kwargs.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_celaction_instances.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_render_path.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/integrate_version_up.py
  server_addon/celaction/client/ayon_celaction/resources/celaction_template_scene.scn
  server_addon/celaction/client/ayon_celaction/scripts/__init__.py
  server_addon/celaction/client/ayon_celaction/scripts/publish_cli.py
  server_addon/celaction/client/ayon_celaction/version.py
  server_addon/celaction/package.py
  server_addon/celaction/server/__init__.py
  server_addon/celaction/server/imageio.py
  server_addon/celaction/server/settings.py
Labels: host: CelAction, type: feature, size/M

#708 Chore: Removed Clockify addon
  server_addon/clockify/client/ayon_clockify/__init__.py
  server_addon/clockify/client/ayon_clockify/addon.py
  server_addon/clockify/client/ayon_clockify/clockify_api.py
  server_addon/clockify/client/ayon_clockify/constants.py
  server_addon/clockify/client/ayon_clockify/ftrack/server/action_clockify_sync_server.py
  server_addon/clockify/client/ayon_clockify/ftrack/user/action_clockify_sync_local.py
  server_addon/clockify/client/ayon_clockify/launcher_actions/ClockifyStart.py
  server_addon/clockify/client/ayon_clockify/launcher_actions/ClockifySync.py
  server_addon/clockify/client/ayon_clockify/version.py
  server_addon/clockify/client/ayon_clockify/widgets.py
  server_addon/clockify/package.py
  server_addon/clockify/server/__init__.py
  server_addon/clockify/server/settings.py
Labels: type: feature, size/L, module: Sitesync, module: Ftrack

#714 Chore: Removed Flame addon
  server_addon/flame/client/ayon_flame/__init__.py
  server_addon/flame/client/ayon_flame/addon.py
  server_addon/flame/client/ayon_flame/api/__init__.py
  server_addon/flame/client/ayon_flame/api/batch_utils.py
  server_addon/flame/client/ayon_flame/api/constants.py
  server_addon/flame/client/ayon_flame/api/lib.py
  server_addon/flame/client/ayon_flame/api/menu.py
  server_addon/flame/client/ayon_flame/api/pipeline.py
  server_addon/flame/client/ayon_flame/api/plugin.py
  server_addon/flame/client/ayon_flame/api/render_utils.py
  server_addon/flame/client/ayon_flame/api/scripts/wiretap_com.py
  server_addon/flame/client/ayon_flame/api/utils.py
  server_addon/flame/client/ayon_flame/api/workio.py
  server_addon/flame/client/ayon_flame/hooks/pre_flame_setup.py
  server_addon/flame/client/ayon_flame/otio/__init__.py
  server_addon/flame/client/ayon_flame/otio/flame_export.py
  server_addon/flame/client/ayon_flame/otio/utils.py
  server_addon/flame/client/ayon_flame/plugins/create/create_shot_clip.py
  server_addon/flame/client/ayon_flame/plugins/load/load_clip.py
  server_addon/flame/client/ayon_flame/plugins/load/load_clip_batch.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_test_selection.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_timeline_instances.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_timeline_otio.py
  server_addon/flame/client/ayon_flame/plugins/publish/extract_otio_file.py
  server_addon/flame/client/ayon_flame/plugins/publish/extract_subset_resources.py
  server_addon/flame/client/ayon_flame/plugins/publish/integrate_batch_group.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/export_preset/openpype_seg_thumbnails_jpg.xml
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/export_preset/openpype_seg_video_h264.xml
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/__init__.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/app_utils.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/ftrack_lib.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/panel_app.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/uiwidgets.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/openpype_babypublisher.py
  server_addon/flame/client/ayon_flame/startup/openpype_in_flame.py
  server_addon/flame/client/ayon_flame/version.py
  server_addon/flame/package.py
  server_addon/flame/server/__init__.py
  server_addon/flame/server/settings/__init__.py
  server_addon/flame/server/settings/create_plugins.py
  server_addon/flame/server/settings/imageio.py
  server_addon/flame/server/settings/loader_plugins.py
  server_addon/flame/server/settings/main.py
  server_addon/flame/server/settings/publish_plugins.py
Labels: host: Flame, type: feature, size/XXL, module: Ftrack

#716 Chore: Removed substance painter addon
  server_addon/substancepainter/client/ayon_substancepainter/__init__.py
  server_addon/substancepainter/client/ayon_substancepainter/addon.py
  server_addon/substancepainter/client/ayon_substancepainter/api/__init__.py
  server_addon/substancepainter/client/ayon_substancepainter/api/colorspace.py
  server_addon/substancepainter/client/ayon_substancepainter/api/lib.py
  server_addon/substancepainter/client/ayon_substancepainter/api/pipeline.py
  server_addon/substancepainter/client/ayon_substancepainter/deploy/plugins/ayon_plugin.py
  server_addon/substancepainter/client/ayon_substancepainter/deploy/startup/ayon_load_on_first_run.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/create/create_textures.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/create/create_workfile.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/load/load_mesh.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/collect_current_file.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/collect_textureset_images.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/collect_workfile_representation.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/extract_textures.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/increment_workfile.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/save_workfile.py
  server_addon/substancepainter/client/ayon_substancepainter/plugins/publish/validate_ouput_maps.py
  server_addon/substancepainter/client/ayon_substancepainter/version.py
  server_addon/substancepainter/package.py
  server_addon/substancepainter/server/__init__.py
  server_addon/substancepainter/server/settings/__init__.py
  server_addon/substancepainter/server/settings/creator_plugins.py
  server_addon/substancepainter/server/settings/imageio.py
  server_addon/substancepainter/server/settings/load_plugins.py
  server_addon/substancepainter/server/settings/main.py
Labels: type: feature, host: Substance Painter, size/XXL

#715 Chore: Removed RoyalRender addon
  server_addon/royalrender/client/ayon_royalrender/__init__.py
  server_addon/royalrender/client/ayon_royalrender/addon.py
  server_addon/royalrender/client/ayon_royalrender/api.py
  server_addon/royalrender/client/ayon_royalrender/lib.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/collect_rr_path_from_instance.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/collect_sequences_from_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_maya_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_nuke_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/create_publish_royalrender_job.py
  server_addon/royalrender/client/ayon_royalrender/plugins/publish/submit_jobs_to_royalrender.py
  server_addon/royalrender/client/ayon_royalrender/rr_job.py
  server_addon/royalrender/client/ayon_royalrender/rr_root/README.md
  server_addon/royalrender/client/ayon_royalrender/rr_root/plugins/control_job/perjob/m50__openpype_publish_render.py
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype.png
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype__PublishJob.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_config/E01__OpenPype___global.inc
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_install_paths/OpenPype.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_prepost_scripts/OpenPypeEnvironment.cfg
  server_addon/royalrender/client/ayon_royalrender/rr_root/render_apps/_prepost_scripts/PreOpenPypeInjectEnvironments.py
  server_addon/royalrender/client/ayon_royalrender/version.py
  server_addon/royalrender/package.py
  server_addon/royalrender/server/__init__.py
  server_addon/royalrender/server/settings.py
Labels: host: Nuke, host: Maya, module: RoyalRender, type: feature, size/XL

#689 Publisher: Separate backend into models
  client/ayon_core/tools/common_models/__init__.py
  client/ayon_core/tools/publisher/abstract.py
  client/ayon_core/tools/publisher/constants.py
  client/ayon_core/tools/publisher/control.py
  client/ayon_core/tools/publisher/control_qt.py
  client/ayon_core/tools/publisher/models/__init__.py
  client/ayon_core/tools/publisher/models/create.py
  client/ayon_core/tools/publisher/models/publish.py
  client/ayon_core/tools/publisher/publish_report_viewer/model.py
  client/ayon_core/tools/publisher/publish_report_viewer/widgets.py
  client/ayon_core/tools/publisher/publish_report_viewer/window.py
  client/ayon_core/tools/publisher/widgets/border_label_widget.py
  client/ayon_core/tools/publisher/widgets/card_view_widgets.py
  client/ayon_core/tools/publisher/widgets/create_context_widgets.py
  client/ayon_core/tools/publisher/widgets/create_widget.py
  client/ayon_core/tools/publisher/widgets/folders_dialog.py
  client/ayon_core/tools/publisher/widgets/help_widget.py
  client/ayon_core/tools/publisher/widgets/list_view_widgets.py
  client/ayon_core/tools/publisher/widgets/overview_widget.py
  client/ayon_core/tools/publisher/widgets/precreate_widget.py
  client/ayon_core/tools/publisher/widgets/publish_frame.py
  client/ayon_core/tools/publisher/widgets/report_page.py
  client/ayon_core/tools/publisher/widgets/screenshot_widget.py
  client/ayon_core/tools/publisher/widgets/tabs_widget.py
  client/ayon_core/tools/publisher/widgets/tasks_model.py
  client/ayon_core/tools/publisher/widgets/thumbnail_widget.py
  client/ayon_core/tools/publisher/widgets/widgets.py
  client/ayon_core/tools/publisher/window.py
  client/ayon_core/tools/utils/folders_widget.py
Labels: type: enhancement, size/XXL

#718 Chore: Removed TrayPublisher addon
  server_addon/traypublisher/client/ayon_traypublisher/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/addon.py
  server_addon/traypublisher/client/ayon_traypublisher/api/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/api/editorial.py
  server_addon/traypublisher/client/ayon_traypublisher/api/pipeline.py
  server_addon/traypublisher/client/ayon_traypublisher/api/plugin.py
  server_addon/traypublisher/client/ayon_traypublisher/batch_parsing.py
  server_addon/traypublisher/client/ayon_traypublisher/csv_publish.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_csv_ingest.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_editorial.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_from_settings.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_movie_batch.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_online.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_app_name.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_clip_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_csv_ingest_instance_data.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_reviewable.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_explicit_colorspace.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_frame_data_from_folder_entity.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_movie_batch.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_online_file.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_review_frames.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_sequence_frame_data.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_shot_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_simple_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_source.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_csv_file.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_editorial_pckg.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_trim_video_audio.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/help/validate_existing_version.xml
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/help/validate_frame_ranges.xml
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_colorspace.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_existing_version.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_filepaths.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_frame_ranges.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_online_file.py
  server_addon/traypublisher/client/ayon_traypublisher/ui/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/ui/window.py
  server_addon/traypublisher/client/ayon_traypublisher/version.py
  server_addon/traypublisher/package.py
  server_addon/traypublisher/server/LICENSE
  server_addon/traypublisher/server/README.md
  server_addon/traypublisher/server/__init__.py
  server_addon/traypublisher/server/settings/__init__.py
  server_addon/traypublisher/server/settings/creator_plugins.py
  server_addon/traypublisher/server/settings/editorial_creators.py
  server_addon/traypublisher/server/settings/imageio.py
  server_addon/traypublisher/server/settings/main.py
  server_addon/traypublisher/server/settings/publish_plugins.py
  server_addon/traypublisher/server/settings/simple_creators.py
Labels: host: TrayPublisher, type: feature, size/XXL

#723 Publisher: Remove Literal typehint
  client/ayon_core/tools/publisher/models/publish.py
Labels: size/XS, type: bug

#725 SceneInventory: Ignore containers with invalid UUID in representation
  client/ayon_core/pipeline/load/utils.py
  client/ayon_core/tools/sceneinventory/model.py
  client/ayon_core/tools/sceneinventory/models/containers.py
Labels: size/XS, type: enhancement

#294 Houdini: Implement Load Asset LOP HDA
  server_addon/houdini/client/ayon_houdini/api/hda_utils.py
  server_addon/houdini/client/ayon_houdini/api/lib.py
  server_addon/houdini/client/ayon_houdini/api/pipeline.py
  server_addon/houdini/client/ayon_houdini/api/usd.py
  server_addon/houdini/client/ayon_houdini/plugins/load/load_asset_lop.py
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/INDEX__SECTION
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/Sections.list
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/AYON__icon.png
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Contents.dir/Contents.createtimes
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Contents.dir/Contents.houdini_versions
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Contents.dir/Contents.mime
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Contents.dir/Contents.modtimes
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Contents.dir/Sections.list
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/CreateScript
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/DialogScript
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/ExtraFileOptions
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Help
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/IconImage
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/InternalFileOptions
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/MessageNodes
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/OnCreated
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/OnDeleted
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/OnLoaded
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/OnNameChanged
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/PythonModule
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Sections.list
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/Tools.shelf
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/ayon_8_8Lop_1lop__import_8_81.0/TypePropertiesOptions
  server_addon/houdini/client/ayon_houdini/startup/otls/ayon_lop_import.hda/houdini.hdalibrary
Labels: host: Houdini, USD, type: enhancement, size/M
