Repository ynput/ayon-core, pull requests merged in 2024-02, with the labels that each got.

#17 Enhacnement/Deadline : rearrange hosts alphabetically
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: enhancement

#35 Maya: Remove shelf class and shelf build on maya userSetup.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/startup/userSetup.py
Labels: enhancement, community contribution

#38 Maya: Add repair action to hidden joints validator
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_joints_hidden.py
Labels: size/XS, type: enhancement

#14 Add shortcut to open template for current context
  client/ayon_core/hosts/maya/api/menu.py
  client/ayon_core/hosts/nuke/api/pipeline.py
  client/ayon_core/hosts/nuke/api/workfile_template_builder.py
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
  client/ayon_core/tools/workfile_template_build/__init__.py
  client/ayon_core/tools/workfile_template_build/lib.py
Labels: enhancement, host: Nuke, host: Maya, type: enhancement

#45 Test import fix
  client/ayon_core/hosts/aftereffects/api/launch_logic.py
  client/ayon_core/hosts/photoshop/api/lib.py
  client/ayon_core/hosts/photoshop/plugins/publish/collect_batch_data.py
  client/ayon_core/hosts/photoshop/plugins/publish/collect_color_coded_instances.py
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/ayon_info.py
  client/ayon_core/modules/deadline/plugins/publish/submit_aftereffects_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_blender_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_harmony_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_cache_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_nuke_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
  client/ayon_core/modules/royalrender/lib.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/plugins/publish/cleanup.py
  client/ayon_core/plugins/publish/collect_scene_version.py
Labels: host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Harmony, host: Blender, host: After Effects, size/XS, type: bug, module: Deadline, module: RoyalRender

#34 Harmony: Use AYON prefix in env variables
  client/ayon_core/hosts/harmony/api/README.md
  client/ayon_core/hosts/harmony/api/TB_sceneOpened.js
  client/ayon_core/hosts/harmony/api/lib.py
  client/ayon_core/settings/defaults/system_settings/applications.json
Labels: host: Harmony, type: enhancement

#40 Deadline: Version GlobalJobPreLoad
  client/ayon_core/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
  client/ayon_core/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
Labels: addon: Deadline, size/XS, type: enhancement, module: Deadline

#50 TrayPublisher: Use AYON settings
  client/ayon_core/hosts/traypublisher/api/editorial.py
  client/ayon_core/hosts/traypublisher/api/plugin.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_editorial.py
  client/ayon_core/settings/ayon_settings.py
Labels: host: TrayPublisher, type: enhancement, size/S

#60 Nuke: Use correct dirmap key
  client/ayon_core/hosts/nuke/api/pipeline.py
Labels: host: Nuke, size/XS, type: bug

#53 Settings: Host imageio use AYON settings
  client/ayon_core/pipeline/colorspace.py
  client/ayon_core/settings/ayon_settings.py
Labels: size/XS, type: enhancement

#49 Timers Manager: Use AYON settings
  client/ayon_core/modules/timers_manager/timers_manager.py
  client/ayon_core/settings/ayon_settings.py
Labels: size/XS, type: enhancement

#54 Chore: Addons can define their openpype alias name
  client/ayon_core/addon/base.py
Labels: size/XS, type: feature

#61 Clockify: Use AYON settings
  client/ayon_core/modules/clockify/clockify_module.py
  client/ayon_core/settings/ayon_settings.py
Labels: size/XS, type: enhancement

#51 Tools: Move asset icon functions to assets widget
  client/ayon_core/tools/publisher/widgets/assets_widget.py
  client/ayon_core/tools/utils/__init__.py
  client/ayon_core/tools/utils/assets_widget.py
  client/ayon_core/tools/utils/lib.py
Labels: type: enhancement, size/S

#63 Applications: Handle additional applications correctly
  client/ayon_core/lib/applications.py
Labels: bug

#64 Use new package structure
  package.py
  server_addon/applications/server/__init__.py
  server_addon/create_ayon_addons.py
Labels: size/XS, type: feature

#67 Addons: Change color types back to their previous type
  client/ayon_core/hosts/tvpaint/plugins/publish/extract_sequence.py
  server/settings/publish_plugins.py
  server_addon/maya/server/settings/loaders.py
  server_addon/maya/server/settings/publish_playblast.py
  server_addon/tvpaint/server/settings/publish_plugins.py
Labels: bug, host: TV Paint, host: Maya, size/S, type: bug

#62 Cleanup AYON settings
  client/ayon_core/settings/__init__.py
  client/ayon_core/settings/ayon_settings.py
Labels: type: enhancement, size/S

#52 Settings: Do not convert settings of separated addons
  client/ayon_core/settings/ayon_settings.py
Labels: size/XS, type: enhancement, Backwards incomatible

#71 Maya: Fix missing import in Maya addon
  server_addon/maya/server/settings/loaders.py
Labels: host: Maya, size/XS, type: bug

#72 RoyalRender: Fix addon name in package.py
  server_addon/create_ayon_addons.py
Labels: size/XS, type: bug

#76 Maya: Fix type check
  client/ayon_core/hosts/maya/api/plugin.py
Labels: host: Maya, size/XS, type: bug

#73 Tools: Simple folders widget
  client/ayon_core/tools/ayon_utils/widgets/__init__.py
  client/ayon_core/tools/ayon_utils/widgets/folders_widget.py
Labels: size/S, type: feature

#78 Deadline: Use AYON settings
  client/ayon_core/modules/deadline/deadline_module.py
  client/ayon_core/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  client/ayon_core/settings/ayon_settings.py
Labels: size/XS, type: enhancement, module: Deadline

#90 Remove 'ObjectId' usage
  client/ayon_core/plugins/publish/collect_input_representations_to_versions.py
  client/ayon_core/plugins/publish/integrate.py
  client/ayon_core/tools/push_to_project/models/integrate.py
Labels: size/XS, type: bug

#88 Nuke: expose knobs backward compatibility fix - OP-8164
  client/ayon_core/hosts/nuke/api/plugin.py
Labels: host: Nuke, size/XS, type: bug

#74 Core: Use AYON settings
  client/ayon_core/hosts/aftereffects/plugins/create/create_render.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/photoshop/plugins/create/create_image.py
  client/ayon_core/lib/applications.py
  client/ayon_core/lib/transcoding.py
  client/ayon_core/pipeline/colorspace.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/pipeline/create/legacy_create.py
  client/ayon_core/pipeline/create/subset_name.py
  client/ayon_core/pipeline/load/plugins.py
  client/ayon_core/pipeline/project_folders.py
  client/ayon_core/pipeline/publish/lib.py
  client/ayon_core/pipeline/version_start.py
  client/ayon_core/pipeline/workfile/lock_workfile.py
  client/ayon_core/pipeline/workfile/path_resolving.py
  client/ayon_core/plugins/publish/cleanup.py
  client/ayon_core/plugins/publish/collect_comment.py
  client/ayon_core/plugins/publish/extract_burnin.py
  client/ayon_core/plugins/publish/extract_color_transcode.py
  client/ayon_core/plugins/publish/extract_review.py
  client/ayon_core/plugins/publish/extract_thumbnail.py
  client/ayon_core/plugins/publish/integrate_product_group.py
  client/ayon_core/settings/ayon_settings.py
  client/ayon_core/tools/creator/window.py
  client/ayon_core/tools/pyblish_pype/control.py
Labels: host: Photoshop, host: Nuke, host: After Effects, type: enhancement, size/S

#85 Nuke: openpype expose knobs validator - OP-8166
  client/ayon_core/hosts/nuke/plugins/publish/validate_exposed_knobs.py
Labels: host: Nuke, size/XS, type: bug

#86 Deadline: Remove redundant instance_skeleton_data code - OP-8269
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
Labels: size/S, module: Deadline

#83 Chore: Remove local settings function
  client/ayon_core/host/dirmap.py
  client/ayon_core/lib/applications.py
  client/ayon_core/lib/ayon_info.py
  client/ayon_core/pipeline/anatomy.py
  client/ayon_core/settings/__init__.py
  client/ayon_core/settings/lib.py
  client/ayon_core/tools/experimental_tools/tools_def.py
Labels: size/XS, type: enhancement

#94 Maya: Remove remote publish logic
  client/ayon_core/modules/deadline/plugins/publish/collect_publishable_instances.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_remote_publish_deadline.py
  client/ayon_core/pipeline/publish/lib.py
  client/ayon_core/scripts/remote_publish.py
Labels: host: Maya, type: enhancement, size/S, module: Deadline

#82 Chore: Move usdlib to pipeline
  client/ayon_core/hosts/houdini/plugins/publish/collect_instances_usd_layered.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_usd_bootstrap.py
  client/ayon_core/pipeline/usdlib.py
Labels: host: Houdini, size/XS, type: enhancement

#26 Bugfix/houdini redshift fix default redshift version
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
Labels: bug, host: Houdini, module: Deadline

#47 Max: Add missing workfile creator
  client/ayon_core/hosts/max/plugins/create/create_workfile.py
  client/ayon_core/hosts/max/plugins/publish/collect_current_file.py
  client/ayon_core/hosts/max/plugins/publish/collect_members.py
  client/ayon_core/hosts/max/plugins/publish/collect_workfile.py
Labels: host: 3dsmax, type: enhancement, size/S

#24 Blender: output node and EXR
  client/ayon_core/hosts/blender/api/render_lib.py
  client/ayon_core/hosts/blender/plugins/create/create_render.py
  client/ayon_core/hosts/blender/plugins/publish/validate_deadline_publish.py
  client/ayon_core/settings/defaults/project_settings/blender.json
  server_addon/blender/server/settings/render_settings.py
  server_addon/blender/server/version.py
Labels: enhancement

#77 RoyalRender: Use AYON settings
  client/ayon_core/modules/royalrender/__init__.py
  client/ayon_core/modules/royalrender/addon.py
  client/ayon_core/modules/royalrender/lib.py
  client/ayon_core/modules/royalrender/plugins/publish/collect_rr_path_from_instance.py
  client/ayon_core/modules/royalrender/plugins/publish/create_publish_royalrender_job.py
  client/ayon_core/modules/royalrender/plugins/publish/submit_jobs_to_royalrender.py
  client/ayon_core/modules/royalrender/royal_render_module.py
  client/ayon_core/settings/ayon_settings.py
Labels: type: enhancement, size/S, module: RoyalRender

#98 Chore: AYON metadata ids
  client/ayon_core/hosts/aftereffects/api/pipeline.py
  client/ayon_core/hosts/blender/api/pipeline.py
  client/ayon_core/hosts/blender/api/plugin.py
  client/ayon_core/hosts/flame/plugins/publish/collect_timeline_instances.py
  client/ayon_core/hosts/fusion/api/plugin.py
  client/ayon_core/hosts/harmony/api/README.md
  client/ayon_core/hosts/harmony/plugins/publish/collect_instances.py
  client/ayon_core/hosts/hiero/api/lib.py
  client/ayon_core/hosts/hiero/api/pipeline.py
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/houdini/api/pipeline.py
  client/ayon_core/hosts/houdini/api/plugin.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_instances.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_instances_usd_layered.py
  client/ayon_core/hosts/max/api/pipeline.py
  client/ayon_core/hosts/max/api/plugin.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/api/pipeline.py
  client/ayon_core/hosts/maya/api/plugin.py
  client/ayon_core/hosts/maya/api/workfile_template_builder.py
  client/ayon_core/hosts/maya/plugins/publish/collect_instances.py
  client/ayon_core/hosts/maya/plugins/publish/extract_maya_scene_raw.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/api/pipeline.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/nuke/plugins/create/convert_legacy.py
  client/ayon_core/hosts/photoshop/api/README.md
  client/ayon_core/hosts/photoshop/api/pipeline.py
  client/ayon_core/hosts/photoshop/api/ws_stub.py
  client/ayon_core/hosts/photoshop/plugins/publish/collect_color_coded_instances.py
  client/ayon_core/hosts/resolve/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/tvpaint/api/pipeline.py
  client/ayon_core/pipeline/__init__.py
  client/ayon_core/pipeline/constants.py
  client/ayon_core/pipeline/create/README.md
  client/ayon_core/pipeline/create/context.py
  client/ayon_core/pipeline/create/legacy_create.py
  client/ayon_core/pipeline/schema/container-3.0.json
  client/ayon_core/tools/subsetmanager/README.md
Labels: host: TV Paint, host: Resolve, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Hiero, host: Harmony, host: Fusion, host: Flame, host: Blender, host: After Effects, host: 3dsmax, type: enhancement, size/S

#80 Deadline: Expose families transfer setting - OP-8268
  server_addon/deadline/server/settings/publish_plugins.py
Labels: size/XS, type: enhancement, module: Deadline

#102 Chore: stop removing addons via create package py
  create_package.py
Labels: size/XS

#69 Hiero: Use AYON settings
  client/ayon_core/hosts/hiero/plugins/load/load_clip.py
  client/ayon_core/settings/ayon_settings.py
  client/ayon_core/tools/pyblish_pype/control.py
Labels: host: Hiero, size/XS, type: enhancement

#70 Nuke: Use AYON settings
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/nuke/plugins/load/load_clip.py
  client/ayon_core/hosts/nuke/plugins/load/load_image.py
  client/ayon_core/hosts/nuke/plugins/publish/collect_nuke_instance_data.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_review_intermediates.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_slate_frame.py
  client/ayon_core/hosts/nuke/plugins/publish/help/validate_write_nodes.xml
  client/ayon_core/hosts/nuke/plugins/publish/validate_knobs.py
  client/ayon_core/hosts/nuke/plugins/publish/validate_write_nodes.py
  client/ayon_core/hosts/nuke/startup/custom_write_node.py
  client/ayon_core/settings/ayon_settings.py
Labels: host: Nuke, type: enhancement, size/M

#107 Job queue addon uses AYONAddon
  client/ayon_core/modules/job_queue/__init__.py
  client/ayon_core/modules/job_queue/addon.py
Labels: size/XS, type: enhancement

#66 Max: Bug fix the "remove items" not working in Scene Inventory Manager
  client/ayon_core/hosts/max/api/pipeline.py
  client/ayon_core/hosts/max/plugins/load/load_camera_fbx.py
  client/ayon_core/hosts/max/plugins/load/load_max_scene.py
  client/ayon_core/hosts/max/plugins/load/load_model.py
  client/ayon_core/hosts/max/plugins/load/load_model_fbx.py
  client/ayon_core/hosts/max/plugins/load/load_model_obj.py
  client/ayon_core/hosts/max/plugins/load/load_model_usd.py
  client/ayon_core/hosts/max/plugins/load/load_pointcache.py
  client/ayon_core/hosts/max/plugins/load/load_pointcache_ornatrix.py
  client/ayon_core/hosts/max/plugins/load/load_pointcloud.py
  client/ayon_core/hosts/max/plugins/load/load_redshift_proxy.py
  client/ayon_core/hosts/max/plugins/load/load_tycache.py
Labels: host: 3dsmax, size/XS, type: bug

#115 Houdini: use product name n product type (follow up PR)
  client/ayon_core/hosts/houdini/api/plugin.py
  client/ayon_core/hosts/houdini/plugins/create/create_workfile.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_subset_name.py
Labels: host: Houdini, size/XS, type: enhancement, Backwards incompatible

#106 Chore: Remove settings conversion
  client/ayon_core/addon/base.py
  client/ayon_core/lib/applications.py
  client/ayon_core/settings/__init__.py
  client/ayon_core/settings/ayon_settings.py
  client/ayon_core/settings/constants.py
  client/ayon_core/settings/defaults/project_anatomy/attributes.json
  client/ayon_core/settings/defaults/project_anatomy/imageio.json
  client/ayon_core/settings/defaults/project_anatomy/roots.json
  client/ayon_core/settings/defaults/project_anatomy/tasks.json
  client/ayon_core/settings/defaults/project_anatomy/templates.json
  client/ayon_core/settings/defaults/project_settings/aftereffects.json
  client/ayon_core/settings/defaults/project_settings/applications.json
  client/ayon_core/settings/defaults/project_settings/blender.json
  client/ayon_core/settings/defaults/project_settings/celaction.json
  client/ayon_core/settings/defaults/project_settings/deadline.json
  client/ayon_core/settings/defaults/project_settings/flame.json
  client/ayon_core/settings/defaults/project_settings/ftrack.json
  client/ayon_core/settings/defaults/project_settings/fusion.json
  client/ayon_core/settings/defaults/project_settings/global.json
  client/ayon_core/settings/defaults/project_settings/harmony.json
  client/ayon_core/settings/defaults/project_settings/hiero.json
  client/ayon_core/settings/defaults/project_settings/houdini.json
  client/ayon_core/settings/defaults/project_settings/kitsu.json
  client/ayon_core/settings/defaults/project_settings/max.json
  client/ayon_core/settings/defaults/project_settings/maya.json
  client/ayon_core/settings/defaults/project_settings/nuke.json
  client/ayon_core/settings/defaults/project_settings/photoshop.json
  client/ayon_core/settings/defaults/project_settings/resolve.json
  client/ayon_core/settings/defaults/project_settings/royalrender.json
  client/ayon_core/settings/defaults/project_settings/shotgrid.json
  client/ayon_core/settings/defaults/project_settings/slack.json
  client/ayon_core/settings/defaults/project_settings/standalonepublisher.json
  client/ayon_core/settings/defaults/project_settings/substancepainter.json
  client/ayon_core/settings/defaults/project_settings/traypublisher.json
  client/ayon_core/settings/defaults/project_settings/tvpaint.json
  client/ayon_core/settings/defaults/project_settings/unreal.json
  client/ayon_core/settings/defaults/project_settings/webpublisher.json
  client/ayon_core/settings/defaults/system_settings/applications.json
  client/ayon_core/settings/defaults/system_settings/general.json
  client/ayon_core/settings/defaults/system_settings/modules.json
  client/ayon_core/settings/defaults/system_settings/tools.json
  client/ayon_core/settings/lib.py
  client/ayon_core/tools/tray/tray.py
Labels: type: enhancement, size/XL

#119 Don't use "modules" subkey in system settings
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
  client/ayon_core/modules/timers_manager/plugins/publish/start_timer.py
  client/ayon_core/modules/timers_manager/plugins/publish/stop_timer.py
Labels: host: Maya, size/XS, type: enhancement

#120 Publisher: "Action Failed" is working
  client/ayon_core/tools/publisher/control.py
Labels: size/XS, type: bug

#125 Add trigger workflow to sync issues with ClickUp
  .github/workflows/issue_to_clickup_trigger.yml
Labels: size/XS

#101 OpenRV: adding Applications
  client/ayon_core/hooks/pre_add_last_workfile_arg.py
  client/ayon_core/hooks/pre_ocio_hook.py
  client/ayon_core/resources/app_icons/openrv.png
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
  server_addon/applications/server/version.py
Labels: size/XS, type: feature

#118 Launcher: Invert the logic of skip opening of last workfile - OP-6968
  client/ayon_core/tools/launcher/models/actions.py
  client/ayon_core/tools/launcher/ui/actions_widget.py
Labels: size/XS, type: enhancement

#122 Chore: Remove system settings concept
  client/ayon_core/hooks/pre_ocio_hook.py
  client/ayon_core/hosts/flame/api/plugin.py
  client/ayon_core/hosts/fusion/plugins/load/load_usd.py
  client/ayon_core/hosts/hiero/plugins/load/load_clip.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_unreal_staticmesh_naming.py
  client/ayon_core/hosts/maya/api/plugin.py
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
  client/ayon_core/hosts/maya/plugins/publish/extract_look.py
  client/ayon_core/hosts/substancepainter/api/pipeline.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_colorspace_look.py
  client/ayon_core/hosts/unreal/plugins/load/load_layout_existing.py
  client/ayon_core/lib/applications.py
  client/ayon_core/modules/deadline/plugins/publish/collect_deadline_server_from_instance.py
  client/ayon_core/modules/deadline/plugins/publish/collect_pools.py
  client/ayon_core/modules/deadline/plugins/publish/submit_max_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  client/ayon_core/modules/job_queue/addon.py
  client/ayon_core/modules/timers_manager/plugins/publish/start_timer.py
  client/ayon_core/modules/timers_manager/plugins/publish/stop_timer.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/pipeline/create/context.py
  client/ayon_core/pipeline/create/creator_plugins.py
  client/ayon_core/pipeline/create/legacy_create.py
  client/ayon_core/pipeline/load/plugins.py
  client/ayon_core/pipeline/publish/lib.py
  client/ayon_core/pipeline/template_data.py
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
  client/ayon_core/plugins/publish/collect_anatomy_context_data.py
  client/ayon_core/plugins/publish/collect_settings.py
  client/ayon_core/settings/__init__.py
  client/ayon_core/settings/lib.py
  client/ayon_core/tools/pyblish_pype/model.py
Labels: host: UE, host: TrayPublisher, host: Maya, host: Houdini, host: Hiero, host: Fusion, host: Flame, host: 3dsmax, type: enhancement, size/S, module: Deadline, Backwards incompatible, host: Substance Painter

#132 Publisher: Use hierarchy model
  client/ayon_core/style/style.css
  client/ayon_core/tools/ayon_utils/models/hierarchy.py
  client/ayon_core/tools/ayon_utils/widgets/folders_widget.py
  client/ayon_core/tools/ayon_utils/widgets/tasks_widget.py
  client/ayon_core/tools/publisher/control.py
  client/ayon_core/tools/publisher/control_qt.py
  client/ayon_core/tools/publisher/widgets/assets_widget.py
  client/ayon_core/tools/publisher/widgets/create_context_widgets.py
  client/ayon_core/tools/publisher/widgets/create_widget.py
  client/ayon_core/tools/publisher/widgets/folders_dialog.py
  client/ayon_core/tools/publisher/widgets/tasks_model.py
  client/ayon_core/tools/publisher/widgets/tasks_widget.py
  client/ayon_core/tools/publisher/widgets/widgets.py
  client/ayon_core/tools/sceneinventory/switch_dialog/folders_input.py
  client/ayon_core/tools/traypublisher/window.py
Labels: host: TrayPublisher, type: enhancement, size/XL

#137 TrayPublisher: Use AYON projects model
  client/ayon_core/tools/ayon_utils/widgets/__init__.py
  client/ayon_core/tools/ayon_utils/widgets/projects_widget.py
  client/ayon_core/tools/traypublisher/window.py
  client/ayon_core/tools/utils/models.py
Labels: host: TrayPublisher, type: enhancement, size/S
