Repository ynput/ayon-core, pull requests merged in 2024-03, with the labels that each got.

#121 Max: Validate Mesh Has UVs
  client/ayon_core/hosts/max/plugins/publish/validate_mesh_has_uv.py
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/version.py
Labels: host: 3dsmax, size/XS, type: enhancement

#129 Added missing hosts to collect_audio
  client/ayon_core/plugins/publish/collect_audio.py
Labels: size/XS, type: enhancement

#117 Bugfix/houdini default renderproduct name
  client/ayon_core/hosts/houdini/plugins/publish/collect_vray_rop.py
Labels: bug, host: Houdini, size/XS, type: bug

#109 Update issue template titles to remove prefixes.
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/enhancement_request.yml
Labels: size/XS

#58 Max : Optional validator to check invalid context data
  client/ayon_core/hosts/max/plugins/publish/validate_instance_in_context.py
  server_addon/max/server/settings/publishers.py
Labels: host: 3dsmax, type: enhancement, size/S

#150 Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: size/XS

#155 Roy's adjustment to zbrush integration
  client/ayon_core/hooks/pre_new_console_apps.py
  client/ayon_core/hosts/zbrush/addon.py
  client/ayon_core/hosts/zbrush/api/communication_server.py
  client/ayon_core/hosts/zbrush/api/lib.py
  client/ayon_core/hosts/zbrush/api/plugin.py
  client/ayon_core/hosts/zbrush/hooks/zbrush_startup_script.py
  client/ayon_core/hosts/zbrush/plugins/publish/collect_current_file.py
  client/ayon_core/hosts/zbrush/plugins/publish/extract_model.py
  client/ayon_core/hosts/zbrush/plugins/publish/extract_polymesh.py
  client/ayon_core/hosts/zbrush/plugins/publish/validate_edit_mode.py
Labels: size/S, type: feature

#116 Max: Validate No Animation
  client/ayon_core/hosts/max/plugins/publish/validate_no_animation.py
  server_addon/max/server/settings/publishers.py
  server_addon/max/server/version.py
Labels: host: 3dsmax, size/XS, type: enhancement

#59 Max: Implementation of the validator for model name
  client/ayon_core/hosts/max/plugins/publish/help/validate_model_name.xml
  client/ayon_core/hosts/max/plugins/publish/validate_model_name.py
  server_addon/max/server/settings/publishers.py
Labels: host: 3dsmax, type: enhancement, size/S

#145 Nuke: settings fixes
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/nuke/server/version.py
Labels: host: Nuke, size/XS, type: bug

#144 Updating tools defaults
  server_addon/applications/server/tools.json
  server_addon/applications/server/version.py
Labels: enhancement, size/S

#163 3dsMax: Remove workfile instance is not possible
  client/ayon_core/hosts/max/plugins/create/create_workfile.py
Labels: host: 3dsmax, size/XS, type: enhancement

#89 Nuke: LoadClip colorspace override - OP-6591
  client/ayon_core/hosts/nuke/api/utils.py
  client/ayon_core/hosts/nuke/plugins/load/load_clip.py
Labels: host: Nuke, size/S, type: bug

#166 Blender: Implement 'compress' settings extract blend
  client/ayon_core/hosts/blender/plugins/publish/extract_blend.py
  client/ayon_core/hosts/blender/plugins/publish/extract_blend_animation.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/blender/server/version.py
Labels: community contribution, host: Blender, size/XS, type: enhancement

#158 Nuke: render use existing frames with slate offsets the published render - AY-1433
  client/ayon_core/hosts/nuke/plugins/publish/collect_slate_node.py
  client/ayon_core/hosts/nuke/plugins/publish/collect_writes.py
Labels: host: Nuke, size/XS, type: bug

#168 Houdini: instance in current context validator
  client/ayon_core/hosts/houdini/plugins/publish/validate_instance_in_context.py
  server_addon/houdini/server/settings/publish.py
  server_addon/houdini/server/version.py
Labels: host: Houdini, size/XS, type: enhancement

#174 Workfiles tool: Copy and open of published workfile works
  client/ayon_core/tools/workfiles/control.py
Labels: size/XS, type: bug

#171 Max: Use instance.data["productName"] instead of instance.context.data["subset"] in validate model name
  client/ayon_core/hosts/max/plugins/publish/validate_model_name.py
Labels: host: 3dsmax, size/XS, type: bug

#164 Max: Allows user to select material duplicates option during loading max scene object
  client/ayon_core/hosts/max/plugins/load/load_max_scene.py
Labels: host: 3dsmax, size/XS, type: enhancement

#179 3dsMax: Retaining Viewport Layout during Preview
  client/ayon_core/hosts/max/api/preview_animation.py
  client/ayon_core/hosts/max/plugins/publish/validate_extended_viewport.py
Labels: host: 3dsmax, size/XS

#186 Update Maya Redshift render settings label.
  server_addon/maya/server/settings/render_settings.py
Labels: host: Maya, size/XS

#184 Maya: bug fix the invalid renderlayer name errors out in collect inputs
  client/ayon_core/hosts/maya/plugins/publish/collect_inputs.py
Labels: host: Maya, size/XS, type: bug

#182 Chore: Remove requests get and post from lib functions
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/connections.py
  client/ayon_core/modules/deadline/abstract_submit_deadline.py
  client/ayon_core/modules/deadline/deadline_module.py
Labels: size/XS, type: enhancement, module: Deadline

#189 Max: Always save max scene file before deadline submission
  client/ayon_core/hosts/max/plugins/publish/increment_workfile_version.py
  client/ayon_core/hosts/max/plugins/publish/save_scene.py
Labels: host: 3dsmax, size/XS, type: bug

#57 Max: Implementation of Validate Render Passes
  client/ayon_core/hosts/max/plugins/publish/validate_deadline_publish.py
  client/ayon_core/hosts/max/plugins/publish/validate_renderpasses.py
  server_addon/max/server/settings/publishers.py
Labels: host: 3dsmax, type: enhancement, size/S, module: Deadline

#92 Resolve: avoiding clips without mediapoolitems
  client/ayon_core/hosts/resolve/api/lib.py
Labels: host: Resolve, size/XS, type: bug

#138 Remove multi-context restrictions for publishing image sequences on farm
  client/ayon_core/cli.py
  client/ayon_core/cli_commands.py
  client/ayon_core/plugins/publish/collect_rendered_files.py
Labels: enhancement, size/XS, type: enhancement

#194 Maya: Fix initialization
  client/ayon_core/hosts/maya/api/plugin.py
Labels: host: Maya, type: bug

#195 Tools: Move ayon utils to correct place
  client/ayon_core/hosts/houdini/api/usd.py
  client/ayon_core/tools/ayon_utils/widgets/__init__.py
  client/ayon_core/tools/ayon_utils/widgets/utils.py
  client/ayon_core/tools/common_models/__init__.py
  client/ayon_core/tools/common_models/cache.py
  client/ayon_core/tools/common_models/hierarchy.py
  client/ayon_core/tools/common_models/projects.py
  client/ayon_core/tools/common_models/selection.py
  client/ayon_core/tools/common_models/thumbnails.py
  client/ayon_core/tools/context_dialog/window.py
  client/ayon_core/tools/launcher/control.py
  client/ayon_core/tools/launcher/ui/actions_widget.py
  client/ayon_core/tools/launcher/ui/hierarchy_page.py
  client/ayon_core/tools/launcher/ui/projects_widget.py
  client/ayon_core/tools/loader/control.py
  client/ayon_core/tools/loader/models/actions.py
  client/ayon_core/tools/loader/models/products.py
  client/ayon_core/tools/loader/models/site_sync.py
  client/ayon_core/tools/loader/ui/actions_utils.py
  client/ayon_core/tools/loader/ui/folders_widget.py
  client/ayon_core/tools/loader/ui/product_types_widget.py
  client/ayon_core/tools/loader/ui/products_model.py
  client/ayon_core/tools/loader/ui/repres_widget.py
  client/ayon_core/tools/loader/ui/window.py
  client/ayon_core/tools/publisher/control.py
  client/ayon_core/tools/publisher/widgets/create_context_widgets.py
  client/ayon_core/tools/publisher/widgets/folders_dialog.py
  client/ayon_core/tools/publisher/widgets/tasks_model.py
  client/ayon_core/tools/push_to_project/control.py
  client/ayon_core/tools/push_to_project/ui/window.py
  client/ayon_core/tools/sceneinventory/control.py
  client/ayon_core/tools/sceneinventory/model.py
  client/ayon_core/tools/sceneinventory/switch_dialog/folders_input.py
  client/ayon_core/tools/traypublisher/window.py
  client/ayon_core/tools/utils/__init__.py
  client/ayon_core/tools/utils/folders_widget.py
  client/ayon_core/tools/utils/lib.py
  client/ayon_core/tools/utils/projects_widget.py
  client/ayon_core/tools/utils/tasks_widget.py
  client/ayon_core/tools/workfiles/control.py
  client/ayon_core/tools/workfiles/widgets/window.py
Labels: host: TrayPublisher, host: Houdini, type: enhancement, size/M

#43 Resolve: version swap retain offset and IDT
  client/ayon_core/hosts/resolve/api/lib.py
  client/ayon_core/hosts/resolve/api/plugin.py
Labels: host: Resolve, size/XS, type: bug

#173 RoyalRender: Fix when no RR addon in bundle
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
Labels: host: Maya, size/XS, type: bug

#10 Bugfix: Make houdini submissions respect pools groups
  client/ayon_core/modules/deadline/plugins/publish/collect_pools.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_cache_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  server_addon/deadline/server/settings/publish_plugins.py
  server_addon/deadline/server/version.py
Labels: bug, host: Houdini, type: bug, module: Deadline

#199 Create: Add missing variable 'task_name'
  client/ayon_core/pipeline/create/context.py
Labels: size/XS, type: bug

#205 TVPaint: Fix Load Reference Image Update logic
  client/ayon_core/hosts/tvpaint/plugins/load/load_reference_image.py
Labels: host: TV Paint, size/XS, type: bug

#210 Bugfix: Switch Folder dialog, fix `fields` for getting last versions
  client/ayon_core/tools/sceneinventory/switch_dialog/dialog.py
Labels: size/XS, type: bug

#203 Bugfix: Maya Load Vray Proxy fix import
  client/ayon_core/hosts/maya/plugins/load/load_vrayproxy.py
Labels: host: Maya, size/XS, type: bug

#201 Max & Maya: Make sure validators being shown in the Publisher UI when they set to be optional in AYON setting
  client/ayon_core/hosts/max/plugins/publish/validate_mesh_has_uv.py
  client/ayon_core/hosts/maya/plugins/publish/validate_animated_reference.py
  client/ayon_core/hosts/maya/plugins/publish/validate_animation_content.py
  client/ayon_core/hosts/maya/plugins/publish/validate_animation_out_set_related_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_arnold_scene_source_cbid.py
  client/ayon_core/hosts/maya/plugins/publish/validate_ass_relative_paths.py
  client/ayon_core/hosts/maya/plugins/publish/validate_assembly_name.py
  client/ayon_core/hosts/maya/plugins/publish/validate_assembly_namespaces.py
  client/ayon_core/hosts/maya/plugins/publish/validate_assembly_transforms.py
  client/ayon_core/hosts/maya/plugins/publish/validate_camera_attributes.py
  client/ayon_core/hosts/maya/plugins/publish/validate_camera_contents.py
  client/ayon_core/hosts/maya/plugins/publish/validate_current_renderlayer_renderable.py
  client/ayon_core/hosts/maya/plugins/publish/validate_glsl_material.py
  client/ayon_core/hosts/maya/plugins/publish/validate_glsl_plugin.py
  client/ayon_core/hosts/maya/plugins/publish/validate_instancer_content.py
  client/ayon_core/hosts/maya/plugins/publish/validate_instancer_frame_ranges.py
  client/ayon_core/hosts/maya/plugins/publish/validate_loaded_plugin.py
  client/ayon_core/hosts/maya/plugins/publish/validate_look_shading_group.py
  client/ayon_core/hosts/maya/plugins/publish/validate_maya_units.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_lamina_faces.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_ngons.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_no_negative_scale.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_non_manifold.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_shader_connections.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_vertices_have_edges.py
  client/ayon_core/hosts/maya/plugins/publish/validate_model_content.py
  client/ayon_core/hosts/maya/plugins/publish/validate_no_default_camera.py
  client/ayon_core/hosts/maya/plugins/publish/validate_no_namespace.py
  client/ayon_core/hosts/maya/plugins/publish/validate_no_null_transforms.py
  client/ayon_core/hosts/maya/plugins/publish/validate_no_vraymesh.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_no_ghosting.py
  client/ayon_core/hosts/maya/plugins/publish/validate_plugin_path_attributes.py
  client/ayon_core/hosts/maya/plugins/publish/validate_render_image_rule.py
  client/ayon_core/hosts/maya/plugins/publish/validate_render_no_default_cameras.py
  client/ayon_core/hosts/maya/plugins/publish/validate_render_single_camera.py
  client/ayon_core/hosts/maya/plugins/publish/validate_renderlayer_aovs.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_contents.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_controllers.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_controllers_arnold_attributes.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_joints_hidden.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_render_stats.py
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_zero.py
  client/ayon_core/hosts/maya/plugins/publish/validate_skeletalmesh_hierarchy.py
  client/ayon_core/hosts/maya/plugins/publish/validate_skeleton_top_group_hierarchy.py
  client/ayon_core/hosts/maya/plugins/publish/validate_skinCluster_deformer_set.py
  client/ayon_core/hosts/maya/plugins/publish/validate_step_size.py
  client/ayon_core/hosts/maya/plugins/publish/validate_transform_zero.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unique_names.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unreal_mesh_triangulated.py
  client/ayon_core/hosts/maya/plugins/publish/validate_visible_only.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vray_distributed_rendering.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vray_referenced_aovs.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vray_translator_settings.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vrayproxy.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vrayproxy_members.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_renderscript_callbacks.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_rig_cache_state.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_rig_input_in_instance.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_rig_settings.py
Labels: host: UE, host: Maya, host: 3dsmax, type: bug, size/M

#213 Blender: Improve Validate Workfile Saved message
  client/ayon_core/hosts/blender/plugins/publish/validate_file_saved.py
Labels: host: Blender, size/XS

#211 Chore: Fix last versions getters for ayon api
  client/ayon_core/lib/ayon_connection.py
Labels: size/S, type: bug

#215 Blender: Validate Transform Zero report + repair
  client/ayon_core/hosts/blender/plugins/publish/validate_transform_zero.py
Labels: host: Blender, size/XS, type: enhancement

#209 Chore: Cleanup redundant code
  client/ayon_core/hosts/harmony/plugins/load/load_template_workfile.py
  client/ayon_core/hosts/houdini/api/plugin.py
  client/ayon_core/hosts/houdini/plugins/create/create_hda.py
  client/ayon_core/hosts/maya/plugins/publish/collect_multiverse_look.py
  client/ayon_core/hosts/photoshop/plugins/publish/collect_auto_image.py
  client/ayon_core/hosts/photoshop/plugins/publish/collect_auto_image_refresh.py
  client/ayon_core/modules/deadline/deadline_module.py
  client/ayon_core/modules/deadline/plugins/publish/collect_default_deadline_server.py
  client/ayon_core/modules/deadline/plugins/publish/validate_expected_and_rendered_files.py
  client/ayon_core/modules/deadline/repository/custom/plugins/OpenPypeTileAssembler/OpenPypeTileAssembler.py
Labels: host: Photoshop, host: Maya, host: Houdini, host: Harmony, size/XS

#228 Core: Headless publish failing without GL lib
  client/ayon_core/cli_commands.py
Labels: size/XS, type: bug

#226 Chore: Code cleanup - remove unused import
  client/ayon_core/hosts/fusion/plugins/create/create_image_saver.py
Labels: host: Fusion, size/XS

#224 Blender: Model publish uv map name validator
  client/ayon_core/hosts/blender/plugins/publish/validate_model_uv_map1.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/blender/server/version.py
Labels: community contribution, host: Blender, type: enhancement, size/S

#208 Maya: Remove plugins for `instancer` family - there is no `instancer` family?
  client/ayon_core/hosts/maya/plugins/publish/validate_instancer_content.py
  client/ayon_core/hosts/maya/plugins/publish/validate_instancer_frame_ranges.py
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, size/S

#190 Anatomy: Use AYON template categories
  client/ayon_core/hosts/celaction/plugins/publish/collect_render_path.py
  client/ayon_core/hosts/fusion/api/plugin.py
  client/ayon_core/hosts/hiero/api/lib.py
  client/ayon_core/hosts/maya/plugins/publish/extract_workfile_xgen.py
  client/ayon_core/hosts/maya/plugins/publish/extract_xgen.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/startup/custom_write_node.py
  client/ayon_core/hosts/photoshop/api/launch_logic.py
  client/ayon_core/hosts/tvpaint/plugins/load/load_workfile.py
  client/ayon_core/hosts/unreal/hooks/pre_workfile_preparation.py
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/applications.py
  client/ayon_core/lib/path_templates.py
  client/ayon_core/modules/deadline/plugins/publish/submit_celaction_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_fusion_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_nuke_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
  client/ayon_core/pipeline/anatomy.py
  client/ayon_core/pipeline/anatomy/__init__.py
  client/ayon_core/pipeline/anatomy/anatomy.py
  client/ayon_core/pipeline/anatomy/exceptions.py
  client/ayon_core/pipeline/anatomy/roots.py
  client/ayon_core/pipeline/anatomy/templates.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/pipeline/delivery.py
  client/ayon_core/pipeline/farm/tools.py
  client/ayon_core/pipeline/publish/constants.py
  client/ayon_core/pipeline/publish/lib.py
  client/ayon_core/pipeline/usdlib.py
  client/ayon_core/pipeline/workfile/path_resolving.py
  client/ayon_core/plugins/actions/open_file_explorer.py
  client/ayon_core/plugins/load/delivery.py
  client/ayon_core/plugins/publish/collect_otio_subset_resources.py
  client/ayon_core/plugins/publish/collect_resources_path.py
  client/ayon_core/plugins/publish/integrate.py
  client/ayon_core/plugins/publish/integrate_hero_version.py
  client/ayon_core/tools/push_to_project/models/integrate.py
  client/ayon_core/tools/texture_copy/app.py
  client/ayon_core/tools/workfiles/models/workfiles.py
  server/settings/tools.py
Labels: host: UE, host: TV Paint, host: Photoshop, host: Nuke, host: Maya, host: Hiero, host: Fusion, host: CelAction, type: enhancement, module: Deadline, Backwards incompatible, size/XXL

#202 Bugfix: Consider Hero versions correctly for checking outdated
  client/ayon_core/tools/sceneinventory/model.py
  client/ayon_core/tools/utils/lib.py
Labels: community contribution, size/XS, type: bug

#237 Workfiles tool: Fix work with anatomy templates
  client/ayon_core/tools/workfiles/models/workfiles.py
Labels: size/XS, type: bug

#207 Bugfix: Maya validate rig contents geometry actually return invalid nodes
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_contents.py
Labels: community contribution, host: Maya, size/XS, type: bug

#233 Houdini: Improve load image (colorspace, single file, switch, more products)
  client/ayon_core/hosts/houdini/plugins/load/load_image.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#240 Maya: Validate Look Shading Group syntax error
  client/ayon_core/hosts/maya/plugins/publish/validate_look_shading_group.py
Labels: community contribution, host: Maya, size/XS, type: bug

#198 Chore/ Add Zbrush as part of the applications existed in the launcher
  client/ayon_core/resources/app_icons/zbrush.png
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
  server_addon/applications/server/version.py
Labels: size/XS

#219 Re-add outputName to _rename_in_representation
  client/ayon_core/plugins/publish/extract_color_transcode.py
Labels: community contribution, size/XS, type: enhancement

#192 Enhancement: add ruff workflow and codespell pre-commit hooks
  .github/workflows/pr_linting.yml
  .gitignore
  .hound.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
  tools/manage.ps1
  tools/manage.sh
Labels: enhancement, type: enhancement, size/XL

#242 Maya: Add setting to disable `cbId` workflow
  client/ayon_core/hosts/maya/plugins/publish/validate_animation_out_set_related_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_arnold_scene_source_cbid.py
  client/ayon_core/hosts/maya/plugins/publish/validate_look_id_reference_edits.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_deformed_shapes.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_in_database.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_related.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_unique.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_output_ids.py
  server_addon/maya/server/settings/main.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#227 Houdini: Allow loading any alembic file by .abc extension
  client/ayon_core/hosts/houdini/plugins/load/load_alembic.py
  client/ayon_core/hosts/houdini/plugins/load/load_alembic_archive.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#257 Maya: Look assigner fix folder entity key
  client/ayon_core/hosts/maya/tools/mayalookassigner/widgets.py
Labels: host: Maya, size/XS, type: bug

#245 Houdini: Remove legacy collect instances
  client/ayon_core/hosts/houdini/plugins/publish/collect_instances.py
Labels: community contribution, host: Houdini, size/S

#252 Houdini Redshift allow disabling AOVs
  client/ayon_core/hosts/houdini/plugins/publish/collect_redshift_rop.py
Labels: host: Houdini, size/XS, type: bug

#235 Copy non-python launch script in each integration
  client/ayon_core/hooks/pre_non_python_host_launch.py
  client/ayon_core/hosts/aftereffects/__init__.py
  client/ayon_core/hosts/aftereffects/addon.py
  client/ayon_core/hosts/aftereffects/api/launch_logic.py
  client/ayon_core/hosts/aftereffects/api/launch_script.py
  client/ayon_core/hosts/aftereffects/hooks/pre_launch_args.py
  client/ayon_core/hosts/harmony/__init__.py
  client/ayon_core/hosts/harmony/addon.py
  client/ayon_core/hosts/harmony/api/launch_script.py
  client/ayon_core/hosts/harmony/api/lib.py
  client/ayon_core/hosts/harmony/api/pipeline.py
  client/ayon_core/hosts/harmony/hooks/pre_launch_args.py
  client/ayon_core/hosts/photoshop/__init__.py
  client/ayon_core/hosts/photoshop/addon.py
  client/ayon_core/hosts/photoshop/api/launch_script.py
  client/ayon_core/hosts/photoshop/api/pipeline.py
  client/ayon_core/hosts/photoshop/hooks/pre_launch_args.py
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/applications.py
  client/ayon_core/lib/ayon_info.py
Labels: host: Photoshop, host: Harmony, host: After Effects, type: enhancement, size/M

#258 Maya: Load plugins use correct source for product type
  client/ayon_core/hosts/maya/plugins/load/load_redshift_proxy.py
  client/ayon_core/hosts/maya/plugins/load/load_reference.py
  client/ayon_core/hosts/maya/plugins/load/load_vdb_to_arnold.py
  client/ayon_core/hosts/maya/plugins/load/load_vdb_to_redshift.py
  client/ayon_core/hosts/maya/plugins/load/load_vdb_to_vray.py
  client/ayon_core/hosts/maya/plugins/load/load_vrayproxy.py
  client/ayon_core/hosts/maya/plugins/load/load_vrayscene.py
  client/ayon_core/hosts/maya/plugins/load/load_yeti_cache.py
  client/ayon_core/hosts/unreal/plugins/load/load_alembic_animation.py
  client/ayon_core/hosts/unreal/plugins/load/load_layout.py
  client/ayon_core/hosts/unreal/plugins/load/load_layout_existing.py
Labels: host: Maya, size/XS, type: bug

#206 Bugfix: Houdini Karma/Mantra collectors wrong indentation
  client/ayon_core/hosts/houdini/plugins/publish/collect_karma_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_mantra_rop.py
Labels: community contribution, host: Houdini, size/S, type: bug

#222 Houdini: Add generic filepath loader
  client/ayon_core/hosts/houdini/plugins/load/load_filepath.py
Labels: community contribution, host: Houdini, type: enhancement, size/S

#204 Bugfix: Maya Load VDB to Arnold refactored argument name
  client/ayon_core/hosts/maya/plugins/load/load_vdb_to_arnold.py
Labels: community contribution, host: Maya, size/XS, type: bug

#223 Houdini: Camera loader allow switching folders/products
  client/ayon_core/hosts/houdini/plugins/load/load_camera.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#244 Maya: Validate step size - correct instance node
  client/ayon_core/hosts/maya/plugins/publish/validate_step_size.py
Labels: community contribution, host: Maya, size/XS, type: bug

#273 Remove deprecated `AVALON_ACTIONS`
  client/ayon_core/modules/launcher_action.py
Labels: community contribution, size/XS

#270 Fix initial state for `CachedData.remapping`
  client/ayon_core/pipeline/colorspace.py
Labels: community contribution, size/XS, type: bug

#243 Maya: Improve Validate Rig Out Set Node Ids validation message
  client/ayon_core/hosts/maya/plugins/publish/help/validate_rig_out_set_node_ids.xml
  client/ayon_core/hosts/maya/plugins/publish/validate_rig_out_set_node_ids.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#220 Maya Settings: Extract Camera bake attributes title fix + add description
  server_addon/maya/server/settings/publishers.py
Labels: community contribution, host: Maya, size/XS

#249 Maya: Improve validate no namespace report for artists
  client/ayon_core/hosts/maya/plugins/publish/validate_no_namespace.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#251 Maya: Ensure unique class name compared to `extract_yeti_cache.py`
  client/ayon_core/hosts/maya/plugins/publish/extract_unreal_yeticache.py
Labels: community contribution, host: UE, host: Maya, size/XS, type: bug

#264 Houdini: Fix correctly updating context data on saving in publisher
  client/ayon_core/hosts/houdini/api/pipeline.py
Labels: community contribution, host: Houdini, size/XS, type: bug

#277 Maya: Remove apply settings logic for Create unreal product types
  client/ayon_core/hosts/maya/plugins/create/create_unreal_skeletalmesh.py
  client/ayon_core/hosts/maya/plugins/create/create_unreal_staticmesh.py
Labels: host: UE, host: Maya, size/XS

#279 Maya: Make Create Unreal Yeti Cache creator class name unique `
  client/ayon_core/hosts/maya/plugins/create/create_unreal_yeticache.py
Labels: host: UE, host: Maya, size/XS

#276 Chore: Fix typos in comments and docstrings
  client/ayon_core/addon/base.py
  client/ayon_core/hosts/blender/api/ops.py
  client/ayon_core/hosts/blender/plugins/load/load_blend.py
  client/ayon_core/hosts/blender/plugins/publish/validate_deadline_publish.py
  client/ayon_core/hosts/celaction/hooks/pre_celaction_setup.py
  client/ayon_core/hosts/celaction/plugins/publish/collect_render_path.py
  client/ayon_core/hosts/flame/api/lib.py
  client/ayon_core/hosts/flame/api/plugin.py
  client/ayon_core/hosts/flame/otio/utils.py
  client/ayon_core/hosts/flame/plugins/create/create_shot_clip.py
  client/ayon_core/hosts/flame/plugins/publish/collect_timeline_instances.py
  client/ayon_core/hosts/flame/startup/openpype_babypublisher/modules/ftrack_lib.py
  client/ayon_core/hosts/harmony/api/lib.py
  client/ayon_core/hosts/hiero/api/lib.py
  client/ayon_core/hosts/hiero/api/otio/hiero_import.py
  client/ayon_core/hosts/hiero/api/otio/utils.py
  client/ayon_core/hosts/hiero/api/startup/Python/StartupUI/otioimporter/OTIOImport.py
  client/ayon_core/hosts/hiero/plugins/create/create_shot_clip.py
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
  client/ayon_core/hosts/maya/plugins/publish/validate_xgen.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/photoshop/plugins/load/load_image_from_sequence.py
  client/ayon_core/hosts/resolve/api/lib.py
  client/ayon_core/hosts/resolve/otio/utils.py
  client/ayon_core/hosts/resolve/plugins/create/create_shot_clip.py
  client/ayon_core/hosts/traypublisher/plugins/publish/validate_frame_ranges.py
  client/ayon_core/hosts/unreal/api/tools_ui.py
  client/ayon_core/lib/local_settings.py
  client/ayon_core/lib/path_templates.py
  client/ayon_core/modules/royalrender/plugins/publish/create_publish_royalrender_job.py
  client/ayon_core/pipeline/create/context.py
  client/ayon_core/pipeline/create/creator_plugins.py
  client/ayon_core/pipeline/editorial.py
  client/ayon_core/pipeline/load/plugins.py
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
  client/ayon_core/plugins/publish/extract_otio_audio_tracks.py
  client/ayon_core/tools/common_models/thumbnails.py
  client/ayon_core/tools/pyblish_pype/util.py
  server/settings/publish_plugins.py
Labels: host: UE, host: TrayPublisher, host: Resolve, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Hiero, host: Harmony, host: Flame, host: CelAction, host: Blender, size/S, type: bug, module: Deadline, module: RoyalRender, module: Ftrack

#263 Houdini: Remove legacy unused id logic
  client/ayon_core/hosts/houdini/api/lib.py
  client/ayon_core/hosts/houdini/api/pipeline.py
Labels: community contribution, host: Houdini, size/XS

#247 Maya: Raise PublishValidationError in validators
  client/ayon_core/hosts/maya/plugins/publish/validate_instance_subset.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_empty.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_lamina_faces.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_ngons.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_shader_connections.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_single_uv_set.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_uv_set_map1.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_no_ghosting.py
  client/ayon_core/hosts/maya/plugins/publish/validate_setdress_root.py
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_default_names.py
  client/ayon_core/hosts/maya/plugins/publish/validate_single_assembly.py
  client/ayon_core/hosts/maya/plugins/publish/validate_skinCluster_deformer_set.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unique_names.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unreal_mesh_triangulated.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unreal_up_axis.py
  client/ayon_core/hosts/maya/plugins/publish/validate_visible_only.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vray_distributed_rendering.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vray_referenced_aovs.py
  client/ayon_core/hosts/maya/plugins/publish/validate_vrayproxy.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_renderscript_callbacks.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_rig_cache_state.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#48 Bugfix/houdini redshift render aovs in one layer
  client/ayon_core/hosts/houdini/plugins/create/create_redshift_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_redshift_rop.py
Labels: bug, host: Houdini, size/XS, type: bug

#281 Flame: Fix typo in function
  client/ayon_core/hosts/flame/api/__init__.py
  client/ayon_core/hosts/flame/api/lib.py
  client/ayon_core/hosts/flame/otio/flame_export.py
  client/ayon_core/hosts/flame/otio/utils.py
Labels: host: Flame, size/XS, type: enhancement

#225 Fusion: Allow render publishes to have custom frame range per saver
  client/ayon_core/hosts/fusion/plugins/create/create_saver.py
  client/ayon_core/hosts/fusion/plugins/publish/collect_instances.py
Labels: community contribution, host: Fusion, size/XS, type: enhancement

#262 Houdini: Prompt reset scene context on saving to another task
  client/ayon_core/hosts/houdini/api/lib.py
  client/ayon_core/hosts/houdini/api/pipeline.py
Labels: community contribution, host: Houdini, type: enhancement, size/S

#280 Chore: Cleanup imports
  client/ayon_core/__init__.py
  client/ayon_core/cli_commands.py
  client/ayon_core/hosts/aftereffects/api/__init__.py
  client/ayon_core/hosts/aftereffects/plugins/publish/collect_render.py
  client/ayon_core/hosts/blender/plugins/publish/extract_camera_abc.py
  client/ayon_core/hosts/blender/plugins/publish/extract_fbx.py
  client/ayon_core/hosts/fusion/api/pipeline.py
  client/ayon_core/hosts/harmony/plugins/publish/collect_audio.py
  client/ayon_core/hosts/hiero/api/events.py
  client/ayon_core/hosts/hiero/api/startup/Python/Startup/SpreadsheetExport.py
  client/ayon_core/hosts/hiero/plugins/publish/collect_clip_effects.py
  client/ayon_core/hosts/houdini/api/pipeline.py
  client/ayon_core/hosts/max/plugins/load/load_model_obj.py
  client/ayon_core/hosts/max/plugins/publish/validate_camera_contents.py
  client/ayon_core/hosts/maya/plugins/load/load_arnold_standin.py
  client/ayon_core/hosts/maya/plugins/load/load_gpucache.py
  client/ayon_core/hosts/maya/plugins/load/load_image.py
  client/ayon_core/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_abc.py
  client/ayon_core/hosts/maya/plugins/publish/extract_workfile_xgen.py
  client/ayon_core/hosts/maya/plugins/publish/extract_xgen.py
  client/ayon_core/hosts/nuke/api/pipeline.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_camera.py
  client/ayon_core/hosts/nuke/plugins/publish/validate_knobs.py
  client/ayon_core/hosts/nuke/plugins/publish/validate_rendered_frames.py
  client/ayon_core/hosts/photoshop/api/launch_logic.py
  client/ayon_core/hosts/photoshop/plugins/publish/closePS.py
  client/ayon_core/hosts/substancepainter/api/pipeline.py
  client/ayon_core/hosts/unreal/plugins/publish/collect_render_instances.py
  client/ayon_core/modules/base.py
  client/ayon_core/modules/clockify/clockify_api.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  client/ayon_core/modules/deadline/repository/custom/plugins/Ayon/Ayon.py
  client/ayon_core/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
  client/ayon_core/modules/royalrender/lib.py
  client/ayon_core/modules/royalrender/plugins/publish/submit_jobs_to_royalrender.py
  client/ayon_core/pipeline/create/product_name.py
  client/ayon_core/pipeline/farm/pyblish_functions.pyi
  client/ayon_core/pipeline/load/plugins.py
  client/ayon_core/pipeline/publish/publish_plugins.py
  client/ayon_core/scripts/slates/slate_base/api.py
  client/ayon_core/tools/publisher/widgets/create_context_widgets.py
  client/ayon_core/tools/publisher/widgets/folders_dialog.py
  client/ayon_core/tools/publisher/widgets/publish_frame.py
  client/ayon_core/tools/publisher/widgets/tasks_model.py
  client/ayon_core/tools/pyblish_pype/util.py
  client/ayon_core/tools/utils/lib.py
  client/ayon_core/tools/utils/models.py
  server_addon/create_ayon_addons.py
  server_addon/nuke/server/settings/main.py
  server_addon/tvpaint/server/settings/main.py
Labels: host: UE, host: TV Paint, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Hiero, host: Harmony, host: Fusion, host: Blender, host: After Effects, host: 3dsmax, type: enhancement, size/S, module: Deadline, module: RoyalRender, host: Substance Painter

#283 Chore: Formatting fixes
  client/ayon_core/hosts/harmony/plugins/create/create_farm_render.py
  client/ayon_core/hosts/harmony/plugins/publish/collect_scene.py
  client/ayon_core/hosts/hiero/api/otio/hiero_import.py
  client/ayon_core/hosts/hiero/api/plugin.py
  client/ayon_core/hosts/hiero/api/startup/Python/StartupUI/PimpMySpreadsheet.py
  client/ayon_core/hosts/hiero/api/startup/Python/StartupUI/otioimporter/OTIOImport.py
  client/ayon_core/hosts/hiero/api/tags.py
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/hiero/plugins/publish_old_workflow/precollect_retime.py
  client/ayon_core/hosts/houdini/plugins/load/load_alembic.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_cop_output_node.py
  client/ayon_core/hosts/max/plugins/publish/validate_renderpasses.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
  client/ayon_core/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_fbx.py
  client/ayon_core/hosts/maya/tools/mayalookassigner/models.py
  client/ayon_core/hosts/tvpaint/plugins/create/create_render.py
  client/ayon_core/hosts/unreal/lib.py
  client/ayon_core/hosts/unreal/plugins/create/create_render.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  server_addon/create_ayon_addons.py
Labels: host: UE, host: TV Paint, host: Maya, host: Houdini, host: Hiero, host: Harmony, host: 3dsmax, type: enhancement, size/S, module: Deadline

#193 Editorial: Data in hierarchy context cleanup
  client/ayon_core/hosts/flame/api/plugin.py
  client/ayon_core/hosts/flame/plugins/publish/collect_timeline_instances.py
  client/ayon_core/hosts/hiero/api/plugin.py
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/resolve/api/plugin.py
  client/ayon_core/hosts/resolve/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/traypublisher/api/editorial.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_editorial.py
  client/ayon_core/hosts/traypublisher/plugins/publish/collect_shot_instances.py
  client/ayon_core/plugins/publish/collect_anatomy_instance_data.py
  client/ayon_core/plugins/publish/collect_hierarchy.py
  client/ayon_core/plugins/publish/extract_hierarchy_to_ayon.py
  client/ayon_core/plugins/publish/validate_editorial_asset_name.py
Labels: host: TrayPublisher, host: Resolve, host: Hiero, host: Flame, type: enhancement, size/S, Backwards incompatible

#284 TVPaint: Fix george script in auto create plugin
  client/ayon_core/hosts/tvpaint/plugins/create/create_render.py
Labels: host: TV Paint, size/XS, type: bug

#290 Settings: validating transcoding output names
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#187 Nuke: template placeholder knobs duplicity after update - AY-1202
  client/ayon_core/hosts/nuke/api/lib.py
Labels: host: Nuke, size/XS, type: bug, sponsored

#221 Maya: Extract Alembic/Pointcache add bake attributes to always be included
  client/ayon_core/hosts/maya/plugins/publish/extract_pointcache.py
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#308 Houdini: Fix creating instances from tab menu
  client/ayon_core/hosts/houdini/api/creator_node_shelves.py
Labels: host: Houdini, size/XS, type: bug

#306 Launcher: Use selection object for action
  client/ayon_core/modules/clockify/launcher_actions/ClockifyStart.py
  client/ayon_core/modules/clockify/launcher_actions/ClockifySync.py
  client/ayon_core/pipeline/actions.py
  client/ayon_core/plugins/actions/open_file_explorer.py
  client/ayon_core/tools/launcher/models/actions.py
Labels: type: enhancement, size/S

#309 Validate Containers: Rename `Options` to `Context` in report
  client/ayon_core/plugins/publish/help/validate_containers.xml
Labels: size/XS, type: enhancement

#304 Chore: Use explicit plug-ins and orders from pyblish api instead of legacy plug-ins
  client/ayon_core/hosts/blender/plugins/publish/validate_mesh_no_negative_scale.py
  client/ayon_core/hosts/celaction/plugins/publish/collect_celaction_cli_kwargs.py
  client/ayon_core/hosts/maya/plugins/publish/validate_color_sets.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_ngons.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_no_negative_scale.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_non_manifold.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_normals_unlocked.py
  client/ayon_core/hosts/maya/plugins/publish/validate_no_animation.py
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_render_stats.py
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_zero.py
  client/ayon_core/hosts/maya/plugins/publish/validate_transform_zero.py
  client/ayon_core/hosts/maya/plugins/publish/validate_unique_names.py
  client/ayon_core/hosts/maya/plugins/publish/validate_yeti_rig_input_in_instance.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_script_save.py
  client/ayon_core/hosts/tvpaint/plugins/publish/extract_sequence.py
Labels: host: TV Paint, host: Nuke, host: Maya, host: CelAction, host: Blender, size/XS

#246 Maya: load image plane set colorspace
  client/ayon_core/hosts/maya/plugins/load/load_image_plane.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#248 Maya: optimize validate no null transform
  client/ayon_core/hosts/maya/plugins/publish/validate_no_null_transforms.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#261 Maya: Prompt reset scene context on saving to another task
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/api/pipeline.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#268 Maya: Validate Shape Render Stats improve error message
  client/ayon_core/hosts/maya/plugins/publish/validate_shape_render_stats.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#269 Maya: Tweak validate transform zero formatting
  client/ayon_core/hosts/maya/plugins/publish/validate_transform_zero.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#266 Maya: Validate Animation Out Set Related Node Ids improve report
  client/ayon_core/hosts/maya/plugins/publish/help/validate_animation_out_set_related_node_ids.xml
  client/ayon_core/hosts/maya/plugins/publish/validate_animation_out_set_related_node_ids.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#259 Fusion: Prompt reset scene context on saving to another task
  client/ayon_core/hosts/fusion/api/lib.py
  client/ayon_core/hosts/fusion/api/pipeline.py
Labels: community contribution, host: Fusion, type: enhancement, size/S

#326 Maya: Parent look assigner UI to Maya window when opening via toolbox
  client/ayon_core/hosts/maya/api/customize.py
Labels: host: Maya, size/XS, type: enhancement
