Repository ynput/ayon-core, pull requests merged in 2024-05, with the labels that each got.

#422 Applications: Add launch command for applications addon
  server_addon/applications/client/ayon_applications/addon.py
  server_addon/applications/package.py
Labels: size/XS, type: feature

#477 Maya: Fix `extract_alembic` imports
  client/ayon_core/hosts/maya/plugins/publish/extract_assembly.py
  client/ayon_core/hosts/maya/plugins/publish/extract_proxy_abc.py
  client/ayon_core/hosts/maya/plugins/publish/extract_unreal_skeletalmesh_abc.py
Labels: host: UE, host: Maya, size/XS, type: bug

#450 Unreal: add support of PySide6 in Unreal 5.4
  client/ayon_core/hosts/unreal/ue_workers.py
  pyproject.toml
Labels: host: UE, size/XS, type: bug

#474 Maya: make render settings validator optional
  client/ayon_core/hosts/maya/plugins/publish/validate_rendersettings.py
  server_addon/maya/server/settings/publishers.py
Labels: enhancement, host: Maya, size/XS, type: enhancement, sponsored

#479 Fix validate_unique_names call
  server_addon/deadline/package.py
  server_addon/deadline/server/settings/publish_plugins.py
Labels: size/XS, type: bug, module: Deadline

#415 Nukestudio: Crash if save as new version with workfile - AY-854
  client/ayon_core/hosts/hiero/api/workio.py
Labels: host: Hiero, size/XS, type: bug

#481 Add default value for #474
  server_addon/maya/server/settings/publishers.py
Labels: enhancement, host: Maya, size/XS, type: enhancement

#472 Add 3DEqualizer support (port from OpenPype)
  client/ayon_core/resources/app_icons/3de4.png
  server_addon/applications/server/applications.json
  server_addon/applications/server/settings.py
Labels: feature, size/XS, type: enhancement

#436 Maya: Refactor and implement fixes for Load Placeholder
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/api/workfile_template_builder.py
  client/ayon_core/hosts/maya/plugins/workfile_build/load_placeholder.py
Labels: host: Nuke, host: Maya, host: After Effects, type: enhancement, size/XXL

#315 Deadline: Remove legacy `suspend_publish` attribute definition in favor of `publishJobState`
  client/ayon_core/modules/deadline/plugins/publish/submit_fusion_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_nuke_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
Labels: community contribution, host: Nuke, host: Houdini, host: Fusion, size/XS, module: Deadline

#482 Fusion: Fix comp repair folder settings
  client/ayon_core/hosts/fusion/api/lib.py
Labels: host: Fusion, size/XS, type: bug

#480 Creators: fix undefined task name
  client/ayon_core/pipeline/create/context.py
Labels: bug, size/XS, type: bug

#488 Chore: Support adding tools group environment per task level
  server_addon/applications/client/ayon_applications/utils.py
  server_addon/applications/package.py
Labels: size/XS, type: enhancement

#423 Houdini: Deadline job missing Frames attribute
  client/ayon_core/hosts/houdini/plugins/publish/collect_cache_farm.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_frames.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_alembic.py
Labels: host: Houdini, size/XS, type: bug

#487 Chore: Api for thumbnail cache
  client/ayon_core/pipeline/thumbnails.py
  client/ayon_core/tools/common_models/thumbnails.py
Labels: type: enhancement, size/M

#489 Blender: Fix deselect all function with context override
  client/ayon_core/hosts/blender/api/plugin.py
Labels: host: Blender, size/XS, type: bug, sponsored

#143 Publisher: Double click at instance switch to publish tab
  client/ayon_core/tools/publisher/widgets/card_view_widgets.py
  client/ayon_core/tools/publisher/widgets/list_view_widgets.py
  client/ayon_core/tools/publisher/widgets/overview_widget.py
  client/ayon_core/tools/publisher/window.py
Labels: size/XS, type: enhancement

#478 Maya: Fix Maya Alembic Extractors
  client/ayon_core/hosts/maya/api/alembic.py
  client/ayon_core/hosts/maya/plugins/publish/extract_pointcache.py
  client/ayon_core/hosts/maya/plugins/publish/validate_alembic_options_defaults.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/publishers.py
Labels: host: Maya, size/XS, type: bug

#438 Maya: Workfile Templates implement Run Script Placeholder plug-in
  client/ayon_core/hosts/maya/plugins/workfile_build/script_placeholder.py
Labels: host: Nuke, host: Maya, host: After Effects, type: enhancement, size/XXL

#498 Chore: Be able to determine if is in AYON launcher process
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/ayon_info.py
Labels: size/XS, type: enhancement

#500 Chore: Ruff cleanup
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/maya/plugins/create/create_animation_pointcache.py
  client/ayon_core/hosts/traypublisher/csv_publish.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
  client/ayon_core/modules/deadline/plugins/publish/validate_deadline_pools.py
Labels: host: TrayPublisher, host: Maya, host: 3dsmax, size/XS, type: enhancement, module: Deadline

#445 Chore: Add folder type and path to template data
  client/ayon_core/pipeline/template_data.py
  client/ayon_core/plugins/publish/collect_anatomy_instance_data.py
Labels: size/XS, type: feature

#502 After Effects: Fix workfiles on launch env var usage
  client/ayon_core/hosts/aftereffects/api/launch_logic.py
Labels: host: After Effects, size/XS, type: bug

#499 Chore: Collect frame data plugin does not have to access folder entity
  client/ayon_core/hosts/traypublisher/plugins/publish/collect_frame_data_from_folder_entity.py
Labels: host: TrayPublisher, size/XS, type: bug

#497 Blender: Use transform cache to handle alembic camera updates
  client/ayon_core/hosts/blender/plugins/load/load_camera_abc.py
Labels: host: Blender, size/XS, type: bug, sponsored

#503 Chore: Add version dependency
  package.py
Labels: size/XS, type: enhancement

#328 Houdini local render support
  client/ayon_core/hosts/houdini/plugins/create/create_arnold_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_karma_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_mantra_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_redshift_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_vray_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_arnold_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_farm_instances.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_karma_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_local_render_instances.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_mantra_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_redshift_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_review_data.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_reviewable_instances.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_vray_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_opengl.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_render.py
  client/ayon_core/hosts/houdini/plugins/publish/increment_current_file.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_review_colorspace.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_scene_review.py
  client/ayon_core/modules/deadline/plugins/publish/submit_houdini_render_deadline.py
  client/ayon_core/plugins/publish/integrate.py
  server_addon/houdini/package.py
  server_addon/houdini/server/settings/publish.py
Labels: host: Houdini, type: enhancement, size/S, module: Deadline, sponsored

#506 Houdini: Workfile creator fix call to `create_context_node` on create
  client/ayon_core/hosts/houdini/plugins/create/create_workfile.py
Labels: host: Houdini, size/XS, type: bug

#511 Removed deprecated function 'get_template_data_from_session'
  client/ayon_core/pipeline/context_tools.py
Labels: size/XS, type: enhancement

#512 Chore: Fix ruff comments
  client/ayon_core/hosts/traypublisher/plugins/create/create_editorial_package.py
  client/ayon_core/hosts/traypublisher/plugins/publish/extract_editorial_pckg.py
  client/ayon_core/hosts/traypublisher/plugins/publish/validate_editorial_package.py
  server_addon/traypublisher/server/settings/publish_plugins.py
Labels: host: TrayPublisher, size/XS, type: enhancement

#250 Remove explicit product types list from the integrator
  client/ayon_core/plugins/publish/integrate.py
Labels: enhancement, size/XS, type: enhancement

#514 RoyalRender: Fix import
  client/ayon_core/modules/royalrender/api.py
Labels: size/XS, type: bug, module: RoyalRender

#504 Houdini: Extend op menu to create HDAs in a Houdinish way
  client/ayon_core/hosts/houdini/startup/OPmenu.xml
Labels: host: Houdini, type: enhancement, size/M, sponsored

#513 Nuke: Refactor metadata imprinting
  client/ayon_core/hosts/nuke/plugins/load/load_backdrop.py
  client/ayon_core/hosts/nuke/plugins/load/load_camera_abc.py
  client/ayon_core/hosts/nuke/plugins/load/load_clip.py
  client/ayon_core/hosts/nuke/plugins/load/load_effects.py
  client/ayon_core/hosts/nuke/plugins/load/load_effects_ip.py
  client/ayon_core/hosts/nuke/plugins/load/load_gizmo.py
  client/ayon_core/hosts/nuke/plugins/load/load_gizmo_ip.py
  client/ayon_core/hosts/nuke/plugins/load/load_image.py
  client/ayon_core/hosts/nuke/plugins/load/load_model.py
  client/ayon_core/hosts/nuke/plugins/load/load_script_precomp.py
Labels: host: Nuke, type: bug

#490 Color Management: Use profiles to determine OCIO path
  client/ayon_core/hooks/pre_ocio_hook.py
  client/ayon_core/hosts/hiero/api/lib.py
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/maya/plugins/load/load_image.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/plugins/load/load_clip.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_colorspace_look.py
  client/ayon_core/hosts/traypublisher/plugins/publish/collect_explicit_colorspace.py
  client/ayon_core/pipeline/colorspace.py
  server/__init__.py
  server/settings/main.py
Labels: host: TrayPublisher, host: Nuke, host: Maya, host: Hiero, host: 3dsmax, type: enhancement, size/M, Backwards incompatible

#493 Max: reset scene and clear undo buffer when starting new scene
  client/ayon_core/hosts/max/api/pipeline.py
Labels: host: 3dsmax, size/XS, type: bug

#519 Colorspace: Enhancement of subprocess getters
  client/ayon_core/pipeline/colorspace.py
  client/ayon_core/scripts/ocio_wrapper.py
Labels: type: enhancement, size/L

#495 Nuke: Baking write node inherit channel configuration
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/nuke/plugins/publish/collect_writes.py
Labels: host: Nuke, size/XS, type: enhancement, sponsored

#491 Loader: Don't change controller project on close
  client/ayon_core/tools/loader/ui/window.py
Labels: size/XS, type: bug

#501 Nuke: Publish intermediate files on demand
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_review_intermediates.py
  server_addon/nuke/package.py
  server_addon/nuke/server/settings/publish_plugins.py
Labels: host: Nuke, size/XS, type: enhancement

#217 Fusion: Add instance in context validator
  client/ayon_core/hosts/fusion/api/action.py
  client/ayon_core/hosts/fusion/plugins/publish/collect_render.py
  client/ayon_core/hosts/fusion/plugins/publish/validate_instance_in_context.py
Labels: community contribution, host: Fusion, type: enhancement, size/S

#520 Maya: Remove validate animated reference for animation.fbx family
  client/ayon_core/hosts/maya/plugins/publish/validate_animated_reference.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/publishers.py
Labels: host: Maya, size/XS, type: enhancement

#521 Unreal: fix Unreal Editor executable name on linux and macos
  client/ayon_core/hosts/unreal/lib.py
Labels: host: UE, size/XS, type: bug

#526 Colorspace: Fix Anatomy object initialization
  client/ayon_core/pipeline/colorspace.py
Labels: size/XS, type: bug

#527 Push to Project: Fix task lowering
  client/ayon_core/tools/push_to_project/models/integrate.py
Labels: size/XS, type: bug

#518 Deadline: replace env var with field from Settigns
  client/ayon_core/modules/deadline/abstract_submit_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/collect_user_credentials.py
  client/ayon_core/modules/deadline/plugins/publish/submit_blender_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_celaction_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_fusion_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_max_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_nuke_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
  server_addon/deadline/package.py
  server_addon/deadline/server/settings/main.py
Labels: host: Nuke, host: Maya, host: Fusion, host: CelAction, host: Blender, host: 3dsmax, type: enhancement, size/S, module: Deadline

#525 Chore: Validate Content plugin settings
  client/ayon_core/plugins/publish/validate_containers.py
  server/settings/publish_plugins.py
  server_addon/aftereffects/package.py
  server_addon/aftereffects/server/settings/publish_plugins.py
  server_addon/harmony/package.py
  server_addon/harmony/server/settings/main.py
  server_addon/harmony/server/settings/publish_plugins.py
  server_addon/houdini/package.py
  server_addon/houdini/server/settings/publish.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/publishers.py
  server_addon/nuke/package.py
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/photoshop/package.py
  server_addon/photoshop/server/settings/publish_plugins.py
Labels: host: Photoshop, host: Nuke, host: Maya, host: Harmony, host: After Effects, type: enhancement, size/S

#530 Chore: Validate Content plugin settings 2
  client/ayon_core/plugins/publish/validate_containers.py
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#528 Launcher tool: Fix view update
  client/ayon_core/tools/launcher/ui/actions_widget.py
Labels: size/XS, type: bug

#538 Chore: Add addon name to 'version.py' of server packages
  server_addon/create_ayon_addons.py
Labels: size/XS, type: enhancement

#540 Houdini: Disable integration for the original render instance when publishing locally
  client/ayon_core/hosts/houdini/plugins/publish/collect_local_render_instances.py
Labels: host: Houdini, size/XS, type: bug

#537 Launcher: Make sure actions in Launcher are sorted
  client/ayon_core/tools/launcher/ui/actions_widget.py
Labels: size/XS, type: feature

#486 Houdini: add model family (initial support)
  client/ayon_core/hosts/houdini/plugins/create/create_model.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_cache_farm.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_chunk_size.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_instances_type.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_output_node.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_export_is_a_single_frame.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_mesh_is_static.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_mkpaths_toggled.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_sop_output_node.py
  server_addon/houdini/server/settings/create.py
Labels: host: Houdini, type: enhancement, size/S

#212 Blender: Implement USD Extractor and Loader
  client/ayon_core/hosts/blender/api/lib.py
  client/ayon_core/hosts/blender/api/plugin.py
  client/ayon_core/hosts/blender/plugins/create/create_usd.py
  client/ayon_core/hosts/blender/plugins/load/load_cache.py
  client/ayon_core/hosts/blender/plugins/publish/collect_instance.py
  client/ayon_core/hosts/blender/plugins/publish/extract_usd.py
  server_addon/blender/package.py
  server_addon/blender/server/settings/publish_plugins.py
Labels: community contribution, host: Blender, USD, size/S, type: feature

#535 Clockify: Move client code to server
  client/ayon_core/addon/base.py
  client/ayon_core/modules/clockify/__init__.py
  server_addon/clockify/client/ayon_clockify/__init__.py
  server_addon/clockify/client/ayon_clockify/addon.py
  server_addon/clockify/client/ayon_clockify/clockify_api.py
  server_addon/clockify/client/ayon_clockify/constants.py
  server_addon/clockify/client/ayon_clockify/ftrack/server/action_clockify_sync_server.py
  server_addon/clockify/client/ayon_clockify/ftrack/user/action_clockify_sync_local.py
  server_addon/clockify/client/ayon_clockify/launcher_actions/ClockifyStart.py
  server_addon/clockify/client/ayon_clockify/launcher_actions/ClockifySync.py
  server_addon/clockify/client/ayon_clockify/version.py
  server_addon/clockify/client/ayon_clockify/widgets.py
  server_addon/clockify/package.py
Labels: size/XS, type: feature, module: Sitesync, module: Ftrack

#314 Nuke: simplified deadline submission on write node - AY-974
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/api/utils.py
  client/ayon_core/hosts/nuke/plugins/create/create_write_image.py
  client/ayon_core/hosts/nuke/plugins/create/create_write_prerender.py
  client/ayon_core/hosts/nuke/plugins/create/create_write_render.py
  client/ayon_core/hosts/nuke/plugins/publish/collect_headless_farm.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_headless_farm.py
  client/ayon_core/hosts/nuke/plugins/publish/increment_script_version.py
  client/ayon_core/plugins/publish/validate_version.py
  server_addon/nuke/package.py
  server_addon/nuke/server/settings/create_plugins.py
Labels: host: Nuke, type: enhancement, size/S, sponsored

#523 Deadline: adding Nuke into pool collector
  client/ayon_core/modules/deadline/plugins/publish/collect_pools.py
Labels: size/XS, type: enhancement, module: Deadline

#548 Loader: Show statuses in loader
  client/ayon_core/tools/common_models/projects.py
  client/ayon_core/tools/loader/abstract.py
  client/ayon_core/tools/loader/control.py
  client/ayon_core/tools/loader/models/products.py
  client/ayon_core/tools/loader/ui/products_delegates.py
  client/ayon_core/tools/loader/ui/products_model.py
  client/ayon_core/tools/loader/ui/products_widget.py
Labels: size/S, type: feature

#549 TrayPublisher: Move client code
  client/ayon_core/addon/base.py
  server_addon/traypublisher/client/ayon_traypublisher/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/addon.py
  server_addon/traypublisher/client/ayon_traypublisher/api/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/api/editorial.py
  server_addon/traypublisher/client/ayon_traypublisher/api/pipeline.py
  server_addon/traypublisher/client/ayon_traypublisher/api/plugin.py
  server_addon/traypublisher/client/ayon_traypublisher/batch_parsing.py
  server_addon/traypublisher/client/ayon_traypublisher/csv_publish.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_csv_ingest.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_editorial.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_from_settings.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_movie_batch.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_online.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_app_name.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_clip_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_csv_ingest_instance_data.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_reviewable.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_explicit_colorspace.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_frame_data_from_folder_entity.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_movie_batch.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_online_file.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_review_frames.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_sequence_frame_data.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_shot_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_simple_instances.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_source.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_csv_file.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_editorial_pckg.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_trim_video_audio.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/help/validate_existing_version.xml
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/help/validate_frame_ranges.xml
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_colorspace.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_colorspace_look.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_existing_version.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_filepaths.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_frame_ranges.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_online_file.py
  server_addon/traypublisher/client/ayon_traypublisher/ui/__init__.py
  server_addon/traypublisher/client/ayon_traypublisher/ui/window.py
  server_addon/traypublisher/package.py
Labels: host: TrayPublisher, size/XS, type: feature

#557 Loader tool: Fix PySide6 support
  client/ayon_core/tools/loader/ui/products_delegates.py
Labels: size/XS, type: bug

#555 Nuke: Support options for reading deep exr in load clips
  server_addon/nuke/client/ayon_nuke/plugins/load/load_clip.py
  server_addon/nuke/package.py
  server_addon/nuke/server/settings/loader_plugins.py
Labels: host: Nuke, size/XS, type: enhancement

#551 Publish representation with `isIntermediate` flag in data
  server_addon/nuke/client/ayon_nuke/api/plugin.py
Labels: host: Nuke, size/XS, type: enhancement

#531 Nuke: fixing multiple intermediate file streams publishing
  server_addon/nuke/client/ayon_nuke/api/plugin.py
  server_addon/nuke/client/ayon_nuke/plugins/publish/extract_review_intermediates.py
Labels: host: Nuke, size/XS, type: bug

#532 Substance Painter: Support for exporting maps/layer stacks with specific channels
  client/ayon_core/hosts/substancepainter/api/lib.py
  client/ayon_core/hosts/substancepainter/plugins/create/create_textures.py
  client/ayon_core/hosts/substancepainter/plugins/publish/collect_textureset_images.py
  client/ayon_core/hosts/substancepainter/plugins/publish/extract_textures.py
  client/ayon_core/hosts/substancepainter/plugins/publish/validate_ouput_maps.py
  server_addon/substancepainter/package.py
  server_addon/substancepainter/server/settings/creator_plugins.py
  server_addon/substancepainter/server/settings/main.py
Labels: type: enhancement, size/S, host: Substance Painter

#471 Applications: update inline docs for `only_available` in applications addon settings
  server_addon/applications/server/settings.py
Labels: community contribution, size/XS, type: enhancement

#554 Chore: Validate Version plugin enabled based on profiles
  client/ayon_core/plugins/publish/validate_version.py
  server/__init__.py
  server/settings/__init__.py
  server/settings/conversion.py
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#552 Workfiles tool: Author visible in UI
  client/ayon_core/tools/common_models/__init__.py
  client/ayon_core/tools/common_models/users.py
  client/ayon_core/tools/workfiles/abstract.py
  client/ayon_core/tools/workfiles/control.py
  client/ayon_core/tools/workfiles/models/workfiles.py
  client/ayon_core/tools/workfiles/widgets/files_widget_published.py
  client/ayon_core/tools/workfiles/widgets/files_widget_workarea.py
  client/ayon_core/tools/workfiles/widgets/side_panel.py
  client/ayon_core/tools/workfiles/widgets/window.py
Labels: size/S, type: feature

#567 Extract Burnin: Fix typo in settings label
  server/settings/publish_plugins.py
Labels: size/XS, type: enhancement

#515 Resolve: loading editorial package as timeline
  client/ayon_core/hosts/resolve/RESOLVE_API_v19.0B-build20.txt
  client/ayon_core/hosts/resolve/plugins/load/load_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/create/create_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/collect_editorial_package.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/extract_editorial_pckg.py
  server_addon/traypublisher/client/ayon_traypublisher/plugins/publish/validate_editorial_package.py
  server_addon/traypublisher/package.py
Labels: host: Resolve, size/S, type: feature

#565 Chore: Move celaction client code
  client/ayon_core/addon/base.py
  client/ayon_core/hosts/celaction/scripts/__init__.py
  server_addon/celaction/client/ayon_celaction/__init__.py
  server_addon/celaction/client/ayon_celaction/addon.py
  server_addon/celaction/client/ayon_celaction/hooks/pre_celaction_setup.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_celaction_cli_kwargs.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_celaction_instances.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/collect_render_path.py
  server_addon/celaction/client/ayon_celaction/plugins/publish/integrate_version_up.py
  server_addon/celaction/client/ayon_celaction/resources/celaction_template_scene.scn
  server_addon/celaction/client/ayon_celaction/scripts/__init__.py
  server_addon/celaction/client/ayon_celaction/scripts/publish_cli.py
  server_addon/celaction/client/ayon_celaction/version.py
  server_addon/celaction/package.py
Labels: host: CelAction, size/XS, type: enhancement

#566 Chore: Move flame client code
  client/ayon_core/addon/base.py
  client/ayon_core/hosts/flame/__init__.py
  server_addon/flame/client/ayon_flame/__init__.py
  server_addon/flame/client/ayon_flame/addon.py
  server_addon/flame/client/ayon_flame/api/__init__.py
  server_addon/flame/client/ayon_flame/api/batch_utils.py
  server_addon/flame/client/ayon_flame/api/constants.py
  server_addon/flame/client/ayon_flame/api/lib.py
  server_addon/flame/client/ayon_flame/api/menu.py
  server_addon/flame/client/ayon_flame/api/pipeline.py
  server_addon/flame/client/ayon_flame/api/plugin.py
  server_addon/flame/client/ayon_flame/api/render_utils.py
  server_addon/flame/client/ayon_flame/api/scripts/wiretap_com.py
  server_addon/flame/client/ayon_flame/api/utils.py
  server_addon/flame/client/ayon_flame/api/workio.py
  server_addon/flame/client/ayon_flame/hooks/pre_flame_setup.py
  server_addon/flame/client/ayon_flame/otio/__init__.py
  server_addon/flame/client/ayon_flame/otio/flame_export.py
  server_addon/flame/client/ayon_flame/otio/utils.py
  server_addon/flame/client/ayon_flame/plugins/create/create_shot_clip.py
  server_addon/flame/client/ayon_flame/plugins/load/load_clip.py
  server_addon/flame/client/ayon_flame/plugins/load/load_clip_batch.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_test_selection.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_timeline_instances.py
  server_addon/flame/client/ayon_flame/plugins/publish/collect_timeline_otio.py
  server_addon/flame/client/ayon_flame/plugins/publish/extract_otio_file.py
  server_addon/flame/client/ayon_flame/plugins/publish/extract_subset_resources.py
  server_addon/flame/client/ayon_flame/plugins/publish/integrate_batch_group.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/export_preset/openpype_seg_thumbnails_jpg.xml
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/export_preset/openpype_seg_video_h264.xml
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/__init__.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/app_utils.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/ftrack_lib.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/panel_app.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/modules/uiwidgets.py
  server_addon/flame/client/ayon_flame/startup/openpype_babypublisher/openpype_babypublisher.py
  server_addon/flame/client/ayon_flame/startup/openpype_in_flame.py
  server_addon/flame/client/ayon_flame/version.py
  server_addon/flame/package.py
Labels: host: Flame, size/XS, type: enhancement, module: Ftrack

#564 Scene manager: Show statuses
  client/ayon_core/tools/loader/ui/products_delegates.py
  client/ayon_core/tools/loader/ui/products_model.py
  client/ayon_core/tools/loader/ui/products_widget.py
  client/ayon_core/tools/sceneinventory/control.py
  client/ayon_core/tools/sceneinventory/delegates.py
  client/ayon_core/tools/sceneinventory/model.py
  client/ayon_core/tools/sceneinventory/models/__init__.py
  client/ayon_core/tools/sceneinventory/models/containers.py
  client/ayon_core/tools/sceneinventory/select_version_dialog.py
  client/ayon_core/tools/sceneinventory/view.py
  client/ayon_core/tools/sceneinventory/window.py
  client/ayon_core/tools/utils/delegates.py
  client/ayon_core/tools/utils/lib.py
Labels: type: enhancement, size/XXL

#570 Fix deadline version
  client/ayon_core/modules/deadline/version.py
Labels: size/XS, type: bug, module: Deadline

#571 Chore: Move resolve client code
  client/ayon_core/addon/base.py
  client/ayon_core/hosts/resolve/__init__.py
  server_addon/resolve/client/ayon_resolve/README.markdown
  server_addon/resolve/client/ayon_resolve/RESOLVE_API_v19.0B-build20.txt
  server_addon/resolve/client/ayon_resolve/__init__.py
  server_addon/resolve/client/ayon_resolve/addon.py
  server_addon/resolve/client/ayon_resolve/api/__init__.py
  server_addon/resolve/client/ayon_resolve/api/action.py
  server_addon/resolve/client/ayon_resolve/api/lib.py
  server_addon/resolve/client/ayon_resolve/api/menu.py
  server_addon/resolve/client/ayon_resolve/api/menu_style.qss
  server_addon/resolve/client/ayon_resolve/api/pipeline.py
  server_addon/resolve/client/ayon_resolve/api/plugin.py
  server_addon/resolve/client/ayon_resolve/api/testing_utils.py
  server_addon/resolve/client/ayon_resolve/api/todo-rendering.py
  server_addon/resolve/client/ayon_resolve/api/utils.py
  server_addon/resolve/client/ayon_resolve/api/workio.py
  server_addon/resolve/client/ayon_resolve/hooks/pre_resolve_last_workfile.py
  server_addon/resolve/client/ayon_resolve/hooks/pre_resolve_setup.py
  server_addon/resolve/client/ayon_resolve/hooks/pre_resolve_startup.py
  server_addon/resolve/client/ayon_resolve/otio/__init__.py
  server_addon/resolve/client/ayon_resolve/otio/davinci_export.py
  server_addon/resolve/client/ayon_resolve/otio/davinci_import.py
  server_addon/resolve/client/ayon_resolve/otio/utils.py
  server_addon/resolve/client/ayon_resolve/plugins/create/create_shot_clip.py
  server_addon/resolve/client/ayon_resolve/plugins/load/load_clip.py
  server_addon/resolve/client/ayon_resolve/plugins/load/load_editorial_package.py
  server_addon/resolve/client/ayon_resolve/plugins/publish/extract_workfile.py
  server_addon/resolve/client/ayon_resolve/plugins/publish/precollect_instances.py
  server_addon/resolve/client/ayon_resolve/plugins/publish/precollect_workfile.py
  server_addon/resolve/client/ayon_resolve/startup.py
  server_addon/resolve/client/ayon_resolve/utility_scripts/AYON__Menu.py
  server_addon/resolve/client/ayon_resolve/utility_scripts/ayon_startup.scriptlib
  server_addon/resolve/client/ayon_resolve/utility_scripts/develop/OTIO_export.py
  server_addon/resolve/client/ayon_resolve/utility_scripts/develop/OTIO_import.py
  server_addon/resolve/client/ayon_resolve/utility_scripts/develop/OpenPype_sync_util_scripts.py
  server_addon/resolve/client/ayon_resolve/utils.py
  server_addon/resolve/client/ayon_resolve/version.py
  server_addon/resolve/package.py
Labels: host: Resolve, size/XS, type: enhancement

#574 Global: Fix validate version plug-in import
  client/ayon_core/plugins/publish/validate_version.py
Labels: size/XS, type: bug

#580 TVPpaint: Fixes after movement
  server_addon/tvpaint/client/ayon_tvpaint/__init__.py
  server_addon/tvpaint/client/ayon_tvpaint/addon.py
  server_addon/tvpaint/client/ayon_tvpaint/plugins/load/load_image.py
  server_addon/tvpaint/client/ayon_tvpaint/plugins/load/load_reference_image.py
  server_addon/tvpaint/client/ayon_tvpaint/version.py
  server_addon/tvpaint/package.py
  server_addon/tvpaint/pyproject.toml
Labels: host: TV Paint, size/XS, type: bug

#579 Photoshop: Add missing settings category
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/collect_color_coded_instances.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/collect_review.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/collect_version.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/extract_image.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/extract_review.py
  server_addon/photoshop/client/ayon_photoshop/plugins/publish/validate_naming.py
  server_addon/photoshop/client/ayon_photoshop/version.py
  server_addon/photoshop/package.py
Labels: host: Photoshop, size/XS, type: bug
