Repository ynput/ayon-core, pull requests merged in 2024-04, with the labels that each got.

#301 Maya: Validate Look Shading Group ignore if no material
  client/ayon_core/hosts/maya/plugins/publish/validate_look_shading_group.py
Labels: host: Maya, size/XS

#303 Maya: Support SelectInvalidAction with pyblish ContextPlugin
  client/ayon_core/hosts/maya/api/action.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#291 Houdini: Fix removal of `get_id_required_nodes` and `generate_ids`
  client/ayon_core/hosts/houdini/api/pipeline.py
Labels: community contribution, host: Houdini, size/XS, type: bug

#317 Maya: ExtractGpuCache and ExtractModel (maya scene) optional state in settings
  client/ayon_core/hosts/maya/plugins/publish/extract_gpu_cache.py
  server_addon/maya/server/settings/publishers.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#332 Maya: Render Improve Validation Report if no cameras are set
  client/ayon_core/hosts/maya/plugins/publish/collect_render.py
  client/ayon_core/hosts/maya/plugins/publish/validate_render_single_camera.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#312 Extract Review: Fix typos + remove unused variable
  client/ayon_core/plugins/publish/extract_review.py
Labels: community contribution, size/XS

#322 Maya: Optimize look logic
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/tools/mayalookassigner/vray_proxies.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#313 Extract Burnin: Do not prepare burnin data if no burnins for representations
  client/ayon_core/plugins/publish/extract_burnin.py
Labels: community contribution, size/XS

#319 Substance Painter: Allow loading `usd` mesh to substance painter
  client/ayon_core/hosts/substancepainter/plugins/load/load_mesh.py
Labels: community contribution, USD, size/XS, type: enhancement, host: Substance Painter

#302 Chore: Remove legacy code
  client/ayon_core/lib/terminal.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/pipeline/create/README.md
  client/ayon_core/pipeline/legacy_io.py
  client/ayon_core/widgets/__init__.py
  client/ayon_core/widgets/password_dialog.py
Labels: type: enhancement, size/S

#343 Deadline: Pass AYON bundle and mode env variables to jobs
  client/ayon_core/modules/deadline/plugins/publish/submit_aftereffects_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_blender_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_fusion_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_harmony_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_max_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_maya_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_nuke_deadline.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
Labels: host: Nuke, host: Maya, host: Harmony, host: Fusion, host: Blender, host: After Effects, host: 3dsmax, size/XS, type: bug, module: Deadline

#232 Add DNG support
  client/ayon_core/lib/transcoding.py
  server_addon/traypublisher/server/settings/simple_creators.py
  server_addon/traypublisher/server/version.py
Labels: community contribution, host: TrayPublisher, size/XS, type: enhancement

#344 Bugfix/houdini ignore inputs on rendering
  client/ayon_core/hosts/houdini/api/lib.py
  pyproject.toml
Labels: host: Houdini, size/XS, type: bug

#297 Chore: Applications addon
  client/ayon_core/addon/base.py
  client/ayon_core/addons/applications/ayon_applications/__init__.py
  client/ayon_core/addons/applications/ayon_applications/addon.py
  client/ayon_core/addons/applications/ayon_applications/constants.py
  client/ayon_core/addons/applications/ayon_applications/defs.py
  client/ayon_core/addons/applications/ayon_applications/exceptions.py
  client/ayon_core/addons/applications/ayon_applications/hooks.py
  client/ayon_core/addons/applications/ayon_applications/manager.py
  client/ayon_core/addons/applications/ayon_applications/plugins/publish/collect_app_name.py
  client/ayon_core/addons/applications/ayon_applications/utils.py
  client/ayon_core/cli.py
  client/ayon_core/cli_commands.py
  client/ayon_core/hooks/pre_add_last_workfile_arg.py
  client/ayon_core/hooks/pre_copy_template_workfile.py
  client/ayon_core/hooks/pre_create_extra_workdir_folders.py
  client/ayon_core/hooks/pre_global_host_data.py
  client/ayon_core/hooks/pre_mac_launch.py
  client/ayon_core/hooks/pre_new_console_apps.py
  client/ayon_core/hooks/pre_ocio_hook.py
  client/ayon_core/hosts/aftereffects/hooks/pre_launch_args.py
  client/ayon_core/hosts/blender/hooks/pre_add_run_python_script_arg.py
  client/ayon_core/hosts/blender/hooks/pre_pyside_install.py
  client/ayon_core/hosts/blender/hooks/pre_windows_console.py
  client/ayon_core/hosts/celaction/hooks/pre_celaction_setup.py
  client/ayon_core/hosts/flame/hooks/pre_flame_setup.py
  client/ayon_core/hosts/fusion/hooks/pre_fusion_profile_hook.py
  client/ayon_core/hosts/fusion/hooks/pre_fusion_setup.py
  client/ayon_core/hosts/fusion/hooks/pre_pyside_install.py
  client/ayon_core/hosts/harmony/hooks/pre_launch_args.py
  client/ayon_core/hosts/houdini/hooks/set_paths.py
  client/ayon_core/hosts/max/hooks/force_startup_script.py
  client/ayon_core/hosts/max/hooks/inject_python.py
  client/ayon_core/hosts/max/hooks/set_paths.py
  client/ayon_core/hosts/maya/hooks/pre_auto_load_plugins.py
  client/ayon_core/hosts/maya/hooks/pre_copy_mel.py
  client/ayon_core/hosts/maya/hooks/pre_open_workfile_post_initialization.py
  client/ayon_core/hosts/nuke/hooks/pre_nukeassist_setup.py
  client/ayon_core/hosts/photoshop/hooks/pre_launch_args.py
  client/ayon_core/hosts/resolve/hooks/pre_resolve_last_workfile.py
  client/ayon_core/hosts/resolve/hooks/pre_resolve_setup.py
  client/ayon_core/hosts/resolve/hooks/pre_resolve_startup.py
  client/ayon_core/hosts/tvpaint/hooks/pre_launch_args.py
  client/ayon_core/hosts/unreal/hooks/pre_workfile_preparation.py
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/applications.py
  client/ayon_core/modules/deadline/repository/custom/plugins/GlobalJobPreLoad.py
  client/ayon_core/modules/job_queue/addon.py
  client/ayon_core/modules/royalrender/lib.py
  client/ayon_core/modules/timers_manager/launch_hooks/post_start_timer.py
  client/ayon_core/plugins/load/open_djv.py
  client/ayon_core/plugins/publish/collect_host_name.py
  client/ayon_core/tools/launcher/models/actions.py
Labels: host: UE, host: TV Paint, host: Resolve, host: Photoshop, host: Nuke, host: Maya, host: Houdini, host: Harmony, host: Fusion, host: Flame, host: CelAction, host: Blender, host: After Effects, host: 3dsmax, module: Deadline, module: RoyalRender, type: feature, size/XXL

#307 Houdini: Fix generic filepath loader
  client/ayon_core/hosts/houdini/plugins/load/load_filepath.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#337 Use is_active for proper optional functionality in hero integration.
  client/ayon_core/plugins/publish/integrate_hero_version.py
Labels: size/XS, type: bug

#65 Moved some dependencies to runtime dependencies
  client/pyproject.toml
Labels: size/XS, type: enhancement, Backwards incompatible

#285 Chore: Tag 'reformatted' typo fix
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/plugins/publish/extract_review.py
Labels: host: Nuke, size/XS, type: enhancement

#345 3dsMax: Track by handles then object name
  client/ayon_core/hosts/max/api/pipeline.py
Labels: host: 3dsmax, size/XS

#338 Maya: Use frame range from task attributes
  client/ayon_core/hosts/maya/api/lib.py
Labels: host: Maya, size/XS, type: bug

#357 Settings: Fix class name typos `Pugin` to `Plugin`
  server_addon/blender/server/settings/main.py
  server_addon/blender/server/settings/publish_plugins.py
  server_addon/celaction/server/settings.py
  server_addon/flame/server/settings/create_plugins.py
  server_addon/flame/server/settings/main.py
  server_addon/flame/server/settings/publish_plugins.py
  server_addon/hiero/server/settings/loader_plugins.py
  server_addon/hiero/server/settings/main.py
  server_addon/hiero/server/settings/publish_plugins.py
  server_addon/nuke/server/settings/loader_plugins.py
  server_addon/nuke/server/settings/main.py
  server_addon/nuke/server/settings/publish_plugins.py
  server_addon/resolve/server/settings.py
Labels: host: Resolve, host: Nuke, host: Hiero, host: Flame, host: CelAction, host: Blender, size/XS

#300 Hiero: Use folder naming in precollect plugins
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
  client/ayon_core/hosts/hiero/plugins/publish/precollect_workfile.py
Labels: host: Hiero, size/XS, type: enhancement

#353 Chore: Better context entity getter function
  client/ayon_core/hosts/fusion/api/lib.py
  client/ayon_core/hosts/harmony/api/pipeline.py
  client/ayon_core/hosts/houdini/api/lib.py
  client/ayon_core/hosts/houdini/plugins/inventory/set_camera_resolution.py
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/max/api/lib_rendersettings.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/api/lib_rendersettings.py
  client/ayon_core/hosts/maya/plugins/publish/validate_maya_units.py
  client/ayon_core/hosts/unreal/plugins/load/load_animation.py
  client/ayon_core/hosts/unreal/plugins/load/load_layout.py
  client/ayon_core/pipeline/context_tools.py
Labels: host: UE, host: Maya, host: Houdini, host: Harmony, host: Fusion, host: 3dsmax, type: enhancement, size/S

#197 Chore: Use folder in cli arguments
  client/ayon_core/cli.py
  client/ayon_core/cli_commands.py
Labels: type: enhancement, Backwards incompatible

#298 Enhancement/ay 2612 resolve adaptation colorbleed plugins
  client/ayon_core/hosts/resolve/plugins/load/load_media.py
  server_addon/resolve/server/settings.py
Labels: community contribution, host: Resolve, type: enhancement, size/S

#256 Hiero: Collect tracks only if sequence by name exists
  client/ayon_core/hosts/hiero/api/lib.py
Labels: host: Hiero, size/XS, type: bug

#360 Applications: Disable applications addon if does not have settings available
  client/ayon_core/addons/applications/ayon_applications/addon.py
Labels: size/XS, type: bug

#346 Bug: add `headless` flag to prevent UI interactivity in burnins extraction
  client/ayon_core/plugins/publish/extract_burnin.py
Labels: bug, host: cross, size/XS, type: bug

#323 Maya: Set scene frame range - apply playback options in one call
  client/ayon_core/hosts/maya/api/lib.py
Labels: community contribution, host: Maya, size/XS

#310 Maya: Load RenderSetup add more options
  client/ayon_core/hosts/maya/plugins/load/load_rendersetup.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#350 Applications: Live attributes update
  server_addon/applications/server/__init__.py
  server_addon/applications/server/version.py
Labels: type: enhancement, size/S

#324 Maya: Optimize `get_related_sets`
  client/ayon_core/hosts/maya/api/lib.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#369 SiteSync: Use 'sitesync' over 'sync_server'
  client/ayon_core/host/dirmap.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/pipeline/anatomy/anatomy.py
  client/ayon_core/tools/loader/abstract.py
  client/ayon_core/tools/loader/control.py
  client/ayon_core/tools/loader/models/__init__.py
  client/ayon_core/tools/loader/models/sitesync.py
  client/ayon_core/tools/loader/ui/products_model.py
  client/ayon_core/tools/loader/ui/products_widget.py
  client/ayon_core/tools/loader/ui/repres_widget.py
  client/ayon_core/tools/sceneinventory/control.py
  client/ayon_core/tools/sceneinventory/models/__init__.py
  client/ayon_core/tools/sceneinventory/models/sitesync.py
  client/ayon_core/tools/sceneinventory/view.py
  client/ayon_core/tools/sceneinventory/window.py
Labels: host: Nuke, type: enhancement, size/S

#329 Maya: Optimize `get_all_children` logic with ignoring intermediate objects
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/plugins/publish/collect_arnold_scene_source.py
  client/ayon_core/hosts/maya/plugins/publish/collect_instances.py
  client/ayon_core/hosts/maya/tools/mayalookassigner/commands.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#374 Workfiles tool: Fix update of context change
  client/ayon_core/tools/workfiles/control.py
Labels: size/XS, type: bug

#375 Maya: Create multiple "render" instances better error message
  client/ayon_core/hosts/maya/plugins/create/create_render.py
Labels: host: Maya, size/XS, type: enhancement

#216 Fusion: Add Launch Hook to start "AYON menu" on Fusion start
  client/ayon_core/hosts/fusion/hooks/pre_fusion_launch_menu_hook.py
  server_addon/fusion/server/settings.py
  server_addon/fusion/server/version.py
Labels: community contribution, host: Fusion, size/XS, type: enhancement

#231 Fusion: Also update saver tool path on only task or asset change
  client/ayon_core/hosts/fusion/api/plugin.py
Labels: community contribution, host: Fusion, size/XS, type: enhancement

#358 Maya: Update publish instances via CreateContext + use task attributes instead of folder attributes
  client/ayon_core/hosts/maya/api/lib.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#364 Maya: Improve validate node ids unique report
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_unique.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#363 Maya: Validate node ids in database, query folder ids once
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_in_database.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#376 Fix typos on Hiero plugin
  client/ayon_core/hosts/hiero/plugins/create/create_shot_clip.py
Labels: community contribution, host: Hiero, size/XS

#331 Maya: Optimize collect file dependencies
  client/ayon_core/hosts/maya/plugins/publish/collect_file_dependencies.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#370 Maya: Account for no nodes in container
  client/ayon_core/hosts/maya/api/workfile_template_builder.py
Labels: host: Maya, size/XS, type: bug

#299 Maya: Improve validate current renderlayer renderable artist report
  client/ayon_core/hosts/maya/plugins/publish/validate_current_renderlayer_renderable.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#359 Maya: Fix: Do not always reset context on task change
  client/ayon_core/hosts/maya/api/pipeline.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#379 Fix AYON shotgrid username passed to Deadline
  client/ayon_core/hosts/hiero/plugins/publish/extract_thumbnail.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_cache_job.py
  client/ayon_core/modules/deadline/plugins/publish/submit_publish_job.py
  client/ayon_core/modules/royalrender/plugins/publish/create_publish_royalrender_job.py
Labels: host: Hiero, size/XS, type: bug, module: Deadline, module: RoyalRender

#381 Houdini local render: support adding review family to the render
  client/ayon_core/hosts/houdini/plugins/publish/collect_local_render_instances.py
  client/ayon_core/hosts/houdini/plugins/publish/collect_review_data.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_opengl.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_review_colorspace.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_scene_review.py
Labels: host: Houdini, size/XS, type: enhancement

#318 Settings: Add `usd` to product type enum for Loader Product Type Filter
  server/settings/tools.py
Labels: community contribution, USD, size/XS, type: enhancement

#320 Maya: Optimize `cbId` logic for large scenes
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/api/pipeline.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids.py
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_in_database.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#218 Nuke: Publish and load slate frame explicitly - AY-4055
  client/ayon_core/hosts/nuke/plugins/load/load_clip.py
  client/ayon_core/hosts/nuke/plugins/publish/extract_slate_frame.py
  client/ayon_core/plugins/publish/extract_slate_data.py
Labels: host: Nuke, size/XS, type: enhancement, sponsored

#311 Extract Review: Expose `timecode` for formatting ffmpeg args
  client/ayon_core/plugins/publish/extract_review.py
Labels: documentation, size/XS, type: enhancement

#384 Bugfix: Fix delivery action in tray loader
  client/ayon_core/plugins/load/delivery.py
Labels: size/XS, type: enhancement

#385 Houdini: Transfer Render Targets settings from pre create to instance when creating ROP instances
  client/ayon_core/hosts/houdini/plugins/create/create_arnold_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_karma_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_mantra_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_redshift_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_vray_rop.py
Labels: host: Houdini, size/XS, type: enhancement

#340 Maya: Support to validate/repair the task attributes in validate data in same context
  client/ayon_core/hosts/max/plugins/publish/validate_instance_in_context.py
  client/ayon_core/hosts/maya/plugins/publish/validate_instance_in_context.py
  client/ayon_core/hosts/maya/plugins/publish/validate_resolution.py
Labels: host: Maya, size/XS, type: enhancement

#361 Maya: Expose loaders enabled state to settings
  client/ayon_core/hosts/maya/plugins/load/actions.py
  server_addon/maya/server/settings/loaders.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#365 Maya: Collect Look code cleanup + minor bugfix
  client/ayon_core/hosts/maya/plugins/publish/collect_look.py
Labels: host: Maya, type: enhancement, size/S

#356 Maya: Allow specifying raw JSON custom tools menu for Maya.
  client/ayon_core/hosts/maya/api/menu.py
  server_addon/maya/server/settings/scriptsmenu.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#293 Maya: add support for Maya 2025
  client/ayon_core/hosts/maya/addon.py
  client/ayon_core/hosts/maya/vendor/python/capture.py
  pyproject.toml
  server_addon/applications/server/applications.json
Labels: host: Maya, size/XS, type: enhancement

#31 Houdini: Extract active view as thumbnail when no thumbnail set
  client/ayon_core/hosts/houdini/api/lib.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_active_view_thumbnail.py
Labels: feature, host: Houdini, type: feature

#401 Chore: Run commnad fix
  client/ayon_core/cli.py
Labels: size/XS, type: bug

#394 Chore: Small code cleanup
  client/ayon_core/addons/applications/ayon_applications/__init__.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_editorial.py
  client/ayon_core/hosts/unreal/api/__init__.py
  client/ayon_core/modules/loader_action.py
  client/ayon_core/scripts/slates/slate_base/base.py
  client/ayon_core/tools/publisher/control_qt.py
  client/ayon_core/tools/tray/tray.py
  client/ayon_core/tools/utils/color_widgets/color_inputs.py
  client/ayon_core/tools/utils/widgets.py
Labels: host: UE, host: TrayPublisher, size/XS, type: enhancement

#391 TVPaint: Fix filename formatting in workflie load plugin
  client/ayon_core/hosts/tvpaint/plugins/load/load_workfile.py
Labels: host: TV Paint, size/XS, type: bug

#408 Chore: Prepare data does care only about string values
  client/ayon_core/lib/plugin_tools.py
Labels: size/XS, type: bug

#407 Substance Painter: add missing 8k option into texture export size setting in the texture creator
  client/ayon_core/hosts/substancepainter/plugins/create/create_textures.py
Labels: size/XS, type: bug, host: Substance Painter, sponsored

#402 Chore: Preparation for split of addon from ayon core
  client/ayon_core/addon/base.py
  server_addon/applications/client/ayon_applications/__init__.py
  server_addon/applications/client/ayon_applications/addon.py
  server_addon/applications/client/ayon_applications/constants.py
  server_addon/applications/client/ayon_applications/defs.py
  server_addon/applications/client/ayon_applications/exceptions.py
  server_addon/applications/client/ayon_applications/hooks.py
  server_addon/applications/client/ayon_applications/manager.py
  server_addon/applications/client/ayon_applications/plugins/publish/collect_app_name.py
  server_addon/applications/client/ayon_applications/utils.py
  server_addon/applications/package.py
  server_addon/applications/server/__init__.py
  server_addon/applications/server/version.py
  server_addon/create_ayon_addons.py
Labels: type: enhancement, size/S

#388 Chore: Remove unused imports
  client/ayon_core/hosts/blender/hooks/pre_pyside_install.py
  client/ayon_core/hosts/fusion/api/lib.py
  client/ayon_core/hosts/fusion/hooks/pre_pyside_install.py
  client/ayon_core/hosts/houdini/plugins/create/create_alembic_camera.py
  client/ayon_core/hosts/houdini/plugins/create/create_arnold_ass.py
  client/ayon_core/hosts/houdini/plugins/create/create_arnold_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_bgeo.py
  client/ayon_core/hosts/houdini/plugins/create/create_composite.py
  client/ayon_core/hosts/houdini/plugins/create/create_hda.py
  client/ayon_core/hosts/houdini/plugins/create/create_karma_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_mantra_ifd.py
  client/ayon_core/hosts/houdini/plugins/create/create_mantra_rop.py
  client/ayon_core/hosts/houdini/plugins/create/create_usd.py
  client/ayon_core/hosts/houdini/plugins/create/create_usdrender.py
  client/ayon_core/hosts/houdini/plugins/create/create_vbd_cache.py
  client/ayon_core/hosts/houdini/plugins/create/create_vray_rop.py
  client/ayon_core/hosts/houdini/plugins/publish/increment_current_file.py
  client/ayon_core/hosts/maya/api/fbx.py
  client/ayon_core/hosts/maya/plugins/publish/validate_look_default_shaders_connections.py
  client/ayon_core/hosts/nuke/api/plugin.py
  client/ayon_core/modules/royalrender/api.py
  client/ayon_core/modules/royalrender/plugins/publish/create_publish_royalrender_job.py
  client/ayon_core/pipeline/anatomy/templates.py
  client/ayon_core/pipeline/context_tools.py
  client/ayon_core/pipeline/farm/pyblish_functions.py
  client/ayon_core/pipeline/schema/__init__.py
  client/ayon_core/plugins/actions/open_file_explorer.py
  server_addon/deadline/server/settings/main.py
  server_addon/maya/server/settings/loaders.py
  server_addon/maya/server/settings/publish_playblast.py
  server_addon/tvpaint/server/settings/publish_plugins.py
Labels: host: TV Paint, host: Nuke, host: Maya, host: Houdini, host: Fusion, host: Blender, size/XS, type: enhancement, module: Deadline, module: RoyalRender

#395 Anatomy: Fix variable used to work with site sync
  client/ayon_core/pipeline/anatomy/anatomy.py
Labels: size/XS, type: bug

#410 Maya: Validate Maya Workspace fix report not formatting the root dir variable
  client/ayon_core/hosts/maya/plugins/publish/validate_scene_set_workspace.py
Labels: host: Maya, size/XS, type: enhancement

#405 Abstract Render Collector: Preserve instance id when replacing with new instance
  client/ayon_core/hosts/aftereffects/plugins/publish/collect_render.py
  client/ayon_core/hosts/fusion/plugins/publish/collect_render.py
  client/ayon_core/modules/deadline/plugins/publish/submit_fusion_deadline.py
  client/ayon_core/pipeline/publish/abstract_collect_render.py
Labels: host: Fusion, host: After Effects, size/XS

#404 Loader: Products model fetches versions information once
  client/ayon_core/tools/loader/ui/products_model.py
Labels: community contribution, size/XS, type: enhancement

#321 Maya: Ignore invalid references in `get_container_members`
  client/ayon_core/hosts/maya/api/lib.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#305 Houdini: Optimize collect inputs by caching scene containers once
  client/ayon_core/hosts/houdini/plugins/publish/collect_inputs.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#392 Blender: Fix used load layout plugin
  client/ayon_core/hosts/blender/plugins/load/load_layout_json.py
Labels: host: Blender, type: bug

#393 Hiero: Precollect instances variable fix
  client/ayon_core/hosts/hiero/plugins/publish/precollect_instances.py
Labels: host: Hiero, size/XS, type: bug

#412 Maya: Publish camera preserve image plane size
  client/ayon_core/hosts/maya/plugins/publish/extract_camera_mayaScene.py
Labels: host: Maya, size/XS, type: bug

#413 Maya: Fix Redshift cryptomatte multipartEXR
  client/ayon_core/pipeline/farm/pyblish_functions.py
Labels: size/XS, type: bug

#398 Blender: Qt binding fix for blender 4
  client/ayon_core/hosts/blender/addon.py
  client/ayon_core/hosts/blender/hooks/pre_pyside_install.py
Labels: host: Blender, size/XS, type: enhancement

#289 Maya: Validate Node Ids Related report folder path of the other ids that were found
  client/ayon_core/hosts/maya/plugins/publish/validate_node_ids_related.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#409 Maya: Improve validators for a mesh without geometry (no faces)
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_ngons.py
  client/ayon_core/hosts/maya/plugins/publish/validate_mesh_uv_set_map1.py
Labels: host: Maya, size/XS, type: bug

#396 Ruff: Add list of files to exclude from linting
  pyproject.toml
Labels: size/XS, type: enhancement

#421 Fusion: Launch menu hook fix PreLaunchHook import
  client/ayon_core/hosts/fusion/hooks/pre_fusion_launch_menu_hook.py
Labels: host: Fusion, size/XS, type: bug

#419 Chore: Correct applications addon version
  client/ayon_core/addon/base.py
Labels: size/XS, type: bug

#342 Max: Using task attributes for validate frame range and validate resolution setting
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/max/plugins/publish/validate_frame_range.py
  client/ayon_core/hosts/max/plugins/publish/validate_instance_in_context.py
  client/ayon_core/hosts/max/plugins/publish/validate_resolution_setting.py
Labels: host: 3dsmax, size/XS, type: enhancement

#424 Fix usage of `BaseServerAddon` when only imported for type checking
  server_addon/deadline/server/settings/main.py
Labels: size/XS, type: bug, module: Deadline

#214 Blender: Extract pointcache alembic with subdiv schema
  client/ayon_core/hosts/blender/plugins/publish/extract_abc.py
Labels: community contribution, host: Blender, size/XS, type: enhancement

#427 Chore: Fix typos/grammar and docstrings in Workfile Templates
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
  client/ayon_core/tools/workfile_template_build/lib.py
Labels: size/XS

#416 Chore: Workfile template builder context usage fix
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
Labels: size/XS, type: bug

#316 Maya: Fix RedshiftProxy export from renderlayer
  client/ayon_core/hosts/maya/api/render_setup_tools.py
  client/ayon_core/hosts/maya/plugins/publish/extract_redshift_proxy.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#274 Houdini: Alembic Load do not create `unpack`, `normal` and `null`
  client/ayon_core/hosts/houdini/plugins/load/load_alembic.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#288 Maya: Create yeticache instance directly on loading a yeti rig
  client/ayon_core/hosts/maya/plugins/load/load_yeti_rig.py
  server_addon/maya/server/settings/loaders.py
  server_addon/maya/server/version.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#371 Chore: Delete old version/Calculate old version in AYON Loader
  client/ayon_core/plugins/load/delete_old_versions.py
Labels: size/M

#443 Workfiles: Select latest workfile automatically
  client/ayon_core/tools/workfiles/widgets/files_widget_workarea.py
  client/ayon_core/tools/workfiles/widgets/window.py
Labels: size/XS, type: enhancement

#400 Substance Painter: Allow users to customize the template settings for project creation
  client/ayon_core/hosts/substancepainter/api/lib.py
  client/ayon_core/hosts/substancepainter/plugins/load/load_mesh.py
  server_addon/substancepainter/server/settings/load_plugins.py
  server_addon/substancepainter/server/settings/main.py
  server_addon/substancepainter/server/version.py
Labels: size/XS, type: bug, host: Substance Painter, sponsored

#36 Enhancement: Color management for Houdini workfiles
  client/ayon_core/hosts/houdini/api/lib.py
  client/ayon_core/hosts/houdini/hooks/set_default_display_and_view.py
  client/ayon_core/hosts/houdini/plugins/create/create_review.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_composite.py
  client/ayon_core/hosts/houdini/plugins/publish/extract_opengl.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_review_colorspace.py
  server_addon/houdini/package.py
  server_addon/houdini/server/settings/imageio.py
  server_addon/houdini/server/settings/main.py
Labels: enhancement, host: Houdini, type: enhancement

#449 Max: Extract Geometry (Alembic) toggles in the Publisher UI
  client/ayon_core/hosts/max/plugins/publish/extract_alembic.py
Labels: host: 3dsmax, size/XS, type: bug

#448 Maya: Solely collect the beauty render when Maya render view is disabled in Arnold
  client/ayon_core/hosts/maya/api/lib_renderproducts.py
Labels: host: Maya, size/XS, type: bug

#452 Chore: Fix import in create ayon addons
  server_addon/create_ayon_addons.py
Labels: size/XS, type: bug

#287 Maya: Yeti - Implement writing and loading user variables with a yeti cache
  client/ayon_core/hosts/maya/api/yeti.py
  client/ayon_core/hosts/maya/plugins/load/load_yeti_cache.py
  client/ayon_core/hosts/maya/plugins/publish/collect_yeti_cache.py
Labels: community contribution, host: Maya, type: enhancement, size/S

#100 Traypublisher: advanced CSV ingest
  client/ayon_core/hosts/traypublisher/addon.py
  client/ayon_core/hosts/traypublisher/csv_publish.py
  client/ayon_core/hosts/traypublisher/plugins/create/create_csv_ingest.py
  client/ayon_core/hosts/traypublisher/plugins/publish/collect_csv_ingest_instance_data.py
  client/ayon_core/hosts/traypublisher/plugins/publish/extract_csv_file.py
  client/ayon_core/hosts/traypublisher/plugins/publish/validate_existing_version.py
  client/ayon_core/hosts/traypublisher/plugins/publish/validate_frame_ranges.py
  client/ayon_core/plugins/publish/integrate.py
  server_addon/traypublisher/server/settings/creator_plugins.py
Labels: host: TrayPublisher, type: feature, size/M

#330 Maya: Load published workfile as template
  client/ayon_core/hosts/maya/api/workfile_template_builder.py
  client/ayon_core/hosts/maya/plugins/load/load_as_template.py
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
Labels: community contribution, host: Maya, size/XS, type: enhancement

#454 Max: Make sure the AYON data in the instance node stores correct asset data after the rename of the asset
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/max/api/pipeline.py
Labels: host: 3dsmax, size/XS, type: bug

#272 Houdini: Validate COP Output Node tweak message formatting
  client/ayon_core/hosts/houdini/plugins/publish/validate_cop_output_node.py
Labels: community contribution, host: Houdini, size/XS, type: enhancement

#460 Applications: Define compatibility of addon
  server_addon/applications/package.py
Labels: size/XS, type: enhancement

#455 Houdini fails to start because missing settings
  client/ayon_core/hosts/houdini/hooks/set_default_display_and_view.py
  client/ayon_core/hosts/houdini/plugins/create/create_review.py
  client/ayon_core/hosts/houdini/plugins/publish/validate_review_colorspace.py
Labels: host: Houdini, size/XS, type: bug

#425 Workfile Templates: Implement registering and discovering of `PlaceholderPlugin`
  client/ayon_core/hosts/aftereffects/api/pipeline.py
  client/ayon_core/hosts/aftereffects/api/workfile_template_builder.py
  client/ayon_core/hosts/aftereffects/plugins/workfile_build/create_placeholder.py
  client/ayon_core/hosts/aftereffects/plugins/workfile_build/load_placeholder.py
  client/ayon_core/hosts/maya/api/pipeline.py
  client/ayon_core/hosts/maya/api/workfile_template_builder.py
  client/ayon_core/hosts/maya/plugins/workfile_build/load_placeholder.py
  client/ayon_core/hosts/nuke/api/pipeline.py
  client/ayon_core/hosts/nuke/api/workfile_template_builder.py
  client/ayon_core/hosts/nuke/plugins/workfile_build/create_placeholder.py
  client/ayon_core/hosts/nuke/plugins/workfile_build/load_placeholder.py
  client/ayon_core/pipeline/__init__.py
  client/ayon_core/pipeline/workfile/__init__.py
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
Labels: host: Nuke, host: Maya, host: After Effects, type: enhancement, size/XXL

#461 Max: Fix the malfunctioning issue in Max Scene loader
  client/ayon_core/hosts/max/api/lib.py
  client/ayon_core/hosts/max/plugins/load/load_max_scene.py
Labels: host: 3dsmax, size/XS, type: bug

#467 Maya: Enhancement on reset frame range based on fps
  client/ayon_core/hosts/maya/api/lib.py
Labels: host: Maya, size/XS, type: enhancement

#390 Hiero: colorspace settings aligned with nuke - AY-978
  client/ayon_core/hosts/hiero/api/events.py
  client/ayon_core/hosts/hiero/api/lib.py
  client/ayon_core/hosts/hiero/api/tags.py
  client/ayon_core/hosts/nuke/api/lib.py
  client/ayon_core/hosts/nuke/api/plugin.py
  server_addon/hiero/package.py
  server_addon/hiero/server/settings/imageio.py
  server_addon/nuke/package.py
  server_addon/nuke/server/settings/imageio.py
Labels: host: Nuke, host: Hiero, type: enhancement, size/S

#426 Workfile Templates: add event system to Workfile Template Builder
  client/ayon_core/pipeline/workfile/workfile_template_builder.py
Labels: size/XS, type: enhancement

#463 Maya: Fix VRay Proxies look assigner import
  client/ayon_core/hosts/maya/tools/mayalookassigner/vray_proxies.py
Labels: host: Maya, size/XS, type: bug

#469 Max: Fix the error encountered when updating the loaded assets
  client/ayon_core/hosts/max/plugins/load/load_model_fbx.py
  client/ayon_core/hosts/max/plugins/load/load_model_obj.py
  client/ayon_core/hosts/max/plugins/load/load_model_usd.py
  client/ayon_core/hosts/max/plugins/load/load_pointcache_ornatrix.py
Labels: host: 3dsmax, size/XS, type: bug

#459 Maya: Account for no placeholder set.
  client/ayon_core/hosts/maya/plugins/workfile_build/load_placeholder.py
Labels: host: Maya, size/XS, type: bug

#457 Add `task` to skeleton instance passed to Deadline
  client/ayon_core/pipeline/farm/pyblish_functions.py
Labels: size/XS, type: bug

#336 Maya: abc options for Pointcache/Animation family - AY-970
  client/ayon_core/hosts/max/startup/startup.ms
  client/ayon_core/hosts/maya/api/alembic.py
  client/ayon_core/hosts/maya/api/lib.py
  client/ayon_core/hosts/maya/plugins/create/create_animation.py
  client/ayon_core/hosts/maya/plugins/create/create_animation_pointcache.py
  client/ayon_core/hosts/maya/plugins/create/create_pointcache.py
  client/ayon_core/hosts/maya/plugins/publish/collect_animation.py
  client/ayon_core/hosts/maya/plugins/publish/collect_user_defined_attributes.py
  client/ayon_core/hosts/maya/plugins/publish/extract_pointcache.py
  client/ayon_core/hosts/maya/plugins/publish/extract_workfile_xgen.py
  client/ayon_core/hosts/maya/plugins/publish/validate_alembic_options_defaults.py
  server_addon/maya/package.py
  server_addon/maya/server/settings/publishers.py
Labels: host: Maya, host: 3dsmax, type: enhancement, size/L

#462 Chore: Move cache item to lib
  client/ayon_core/lib/__init__.py
  client/ayon_core/lib/cache.py
  client/ayon_core/pipeline/anatomy/anatomy.py
  client/ayon_core/tools/common_models/cache.py
  client/ayon_core/tools/common_models/hierarchy.py
  client/ayon_core/tools/common_models/projects.py
  client/ayon_core/tools/common_models/thumbnails.py
  client/ayon_core/tools/loader/models/actions.py
  client/ayon_core/tools/loader/models/products.py
  client/ayon_core/tools/loader/models/sitesync.py
Labels: type: enhancement, size/M
